00000000  8A0425E0A90000    mov al,[0xa9e0]
00000007  8A1C25E0A90000    mov bl,[0xa9e0]
0000000E  668B0425E0A90000  mov ax,[0xa9e0]
00000016  668B1C25E0A90000  mov bx,[0xa9e0]
0000001E  8B0425E0A90000    mov eax,[0xa9e0]
00000025  8B1C25E0A90000    mov ebx,[0xa9e0]
0000002C  488B0425E0A90000  mov rax,[0xa9e0]
00000034  488B1C25E0A90000  mov rbx,[0xa9e0]
0000003C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000043  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000004A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000052  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000005A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000061  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000068  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000070  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000078  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000007F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000086  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000008E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000096  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000009D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000000A4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000000AC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000000B4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000000BB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000000C2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000000CA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000000D2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000000D9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000000E0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000000E8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000000F0  8A0425E0A90000    mov al,[0xa9e0]
000000F7  8A1C25E0A90000    mov bl,[0xa9e0]
000000FE  668B0425E0A90000  mov ax,[0xa9e0]
00000106  668B1C25E0A90000  mov bx,[0xa9e0]
0000010E  8B0425E0A90000    mov eax,[0xa9e0]
00000115  8B1C25E0A90000    mov ebx,[0xa9e0]
0000011C  488B0425E0A90000  mov rax,[0xa9e0]
00000124  488B1C25E0A90000  mov rbx,[0xa9e0]
0000012C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000133  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000013A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000142  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000014A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000151  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000158  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000160  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000168  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000016F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000176  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000017E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000186  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000018D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000194  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000019C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000001A4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000001AB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000001B2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000001BA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000001C2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000001C9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000001D0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000001D8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000001E0  A0E0A90000000000  mov al,[qword 0xa9e0]
         -00
000001E9  8A1C25E0A90000    mov bl,[0xa9e0]
000001F0  66A1E0A900000000  mov ax,[qword 0xa9e0]
         -0000
000001FA  668B1C25E0A90000  mov bx,[0xa9e0]
00000202  A1E0A90000000000  mov eax,[qword 0xa9e0]
         -00
0000020B  8B1C25E0A90000    mov ebx,[0xa9e0]
00000212  48A1E0A900000000  mov rax,[qword 0xa9e0]
         -0000
0000021C  488B1C25E0A90000  mov rbx,[0xa9e0]
00000224  A0AAAAAAAAAAAAAA  mov al,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
0000022D  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000234  66A1AAAAAAAAAAAA  mov ax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000023E  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000246  A1AAAAAAAAAAAAAA  mov eax,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
0000024F  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000256  48A1AAAAAAAAAAAA  mov rax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00000260  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000268  A0BBBBBBBB000000  mov al,[qword 0xbbbbbbbb]
         -00
00000271  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000278  66A1BBBBBBBB0000  mov ax,[qword 0xbbbbbbbb]
         -0000
00000282  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
0000028A  A1BBBBBBBB000000  mov eax,[qword 0xbbbbbbbb]
         -00
00000293  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
0000029A  48A1BBBBBBBB0000  mov rax,[qword 0xbbbbbbbb]
         -0000
000002A4  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000002AC  A0CCCCCCCCFFFFFF  mov al,[qword 0xffffffffcccccccc]
         -FF
000002B5  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000002BC  66A1CCCCCCCCFFFF  mov ax,[qword 0xffffffffcccccccc]
         -FFFF
000002C6  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000002CE  A1CCCCCCCCFFFFFF  mov eax,[qword 0xffffffffcccccccc]
         -FF
000002D7  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000002DE  48A1CCCCCCCCFFFF  mov rax,[qword 0xffffffffcccccccc]
         -FFFF
000002E8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000002F0  8A0425E0A90000    mov al,[0xa9e0]
000002F7  8A1C25E0A90000    mov bl,[0xa9e0]
000002FE  668B0425E0A90000  mov ax,[0xa9e0]
00000306  668B1C25E0A90000  mov bx,[0xa9e0]
0000030E  8B0425E0A90000    mov eax,[0xa9e0]
00000315  8B1C25E0A90000    mov ebx,[0xa9e0]
0000031C  488B0425E0A90000  mov rax,[0xa9e0]
00000324  488B1C25E0A90000  mov rbx,[0xa9e0]
0000032C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000333  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000033A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000342  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000034A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000351  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000358  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000360  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000368  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000036F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000376  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000037E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000386  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000038D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000394  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000039C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000003A4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000003AB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000003B2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000003BA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000003C2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000003C9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000003D0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000003D8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000003E0  8A0425E0A90000    mov al,[0xa9e0]
000003E7  8A1C25E0A90000    mov bl,[0xa9e0]
000003EE  668B0425E0A90000  mov ax,[0xa9e0]
000003F6  668B1C25E0A90000  mov bx,[0xa9e0]
000003FE  8B0425E0A90000    mov eax,[0xa9e0]
00000405  8B1C25E0A90000    mov ebx,[0xa9e0]
0000040C  488B0425E0A90000  mov rax,[0xa9e0]
00000414  488B1C25E0A90000  mov rbx,[0xa9e0]
0000041C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000423  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000042A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000432  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000043A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000441  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000448  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000450  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000458  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000045F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000466  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000046E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000476  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000047D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000484  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000048C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000494  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000049B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000004A2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000004AA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000004B2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000004B9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000004C0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000004C8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000004D0  A0E0A90000000000  mov al,[qword 0xa9e0]
         -00
000004D9  8A1C25E0A90000    mov bl,[0xa9e0]
000004E0  66A1E0A900000000  mov ax,[qword 0xa9e0]
         -0000
000004EA  668B1C25E0A90000  mov bx,[0xa9e0]
000004F2  A1E0A90000000000  mov eax,[qword 0xa9e0]
         -00
000004FB  8B1C25E0A90000    mov ebx,[0xa9e0]
00000502  48A1E0A900000000  mov rax,[qword 0xa9e0]
         -0000
0000050C  488B1C25E0A90000  mov rbx,[0xa9e0]
00000514  A0AAAAAAAAAAAAAA  mov al,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
0000051D  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000524  66A1AAAAAAAAAAAA  mov ax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000052E  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000536  A1AAAAAAAAAAAAAA  mov eax,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
0000053F  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000546  48A1AAAAAAAAAAAA  mov rax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00000550  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000558  A0BBBBBBBB000000  mov al,[qword 0xbbbbbbbb]
         -00
00000561  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000568  66A1BBBBBBBB0000  mov ax,[qword 0xbbbbbbbb]
         -0000
00000572  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
0000057A  A1BBBBBBBB000000  mov eax,[qword 0xbbbbbbbb]
         -00
00000583  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
0000058A  48A1BBBBBBBB0000  mov rax,[qword 0xbbbbbbbb]
         -0000
00000594  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
0000059C  A0CCCCCCCCFFFFFF  mov al,[qword 0xffffffffcccccccc]
         -FF
000005A5  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000005AC  66A1CCCCCCCCFFFF  mov ax,[qword 0xffffffffcccccccc]
         -FFFF
000005B6  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000005BE  A1CCCCCCCCFFFFFF  mov eax,[qword 0xffffffffcccccccc]
         -FF
000005C7  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000005CE  48A1CCCCCCCCFFFF  mov rax,[qword 0xffffffffcccccccc]
         -FFFF
000005D8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000005E0  8A0425E0A90000    mov al,[0xa9e0]
000005E7  8A1C25E0A90000    mov bl,[0xa9e0]
000005EE  668B0425E0A90000  mov ax,[0xa9e0]
000005F6  668B1C25E0A90000  mov bx,[0xa9e0]
000005FE  8B0425E0A90000    mov eax,[0xa9e0]
00000605  8B1C25E0A90000    mov ebx,[0xa9e0]
0000060C  488B0425E0A90000  mov rax,[0xa9e0]
00000614  488B1C25E0A90000  mov rbx,[0xa9e0]
0000061C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000623  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000062A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000632  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000063A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000641  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000648  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000650  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000658  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000065F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000666  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000066E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000676  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000067D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000684  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000068C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000694  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000069B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000006A2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000006AA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000006B2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000006B9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000006C0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000006C8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000006D0  8A0425E0A90000    mov al,[0xa9e0]
000006D7  8A1C25E0A90000    mov bl,[0xa9e0]
000006DE  668B0425E0A90000  mov ax,[0xa9e0]
000006E6  668B1C25E0A90000  mov bx,[0xa9e0]
000006EE  8B0425E0A90000    mov eax,[0xa9e0]
000006F5  8B1C25E0A90000    mov ebx,[0xa9e0]
000006FC  488B0425E0A90000  mov rax,[0xa9e0]
00000704  488B1C25E0A90000  mov rbx,[0xa9e0]
0000070C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000713  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000071A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000722  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000072A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000731  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000738  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000740  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000748  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000074F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000756  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000075E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000766  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000076D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000774  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000077C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000784  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000078B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000792  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000079A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000007A2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000007A9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000007B0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000007B8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000007C0  8A0425E0A90000    mov al,[0xa9e0]
000007C7  8A1C25E0A90000    mov bl,[0xa9e0]
000007CE  668B0425E0A90000  mov ax,[0xa9e0]
000007D6  668B1C25E0A90000  mov bx,[0xa9e0]
000007DE  8B0425E0A90000    mov eax,[0xa9e0]
000007E5  8B1C25E0A90000    mov ebx,[0xa9e0]
000007EC  488B0425E0A90000  mov rax,[0xa9e0]
000007F4  488B1C25E0A90000  mov rbx,[0xa9e0]
000007FC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000803  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000080A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000812  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000081A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000821  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000828  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000830  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000838  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000083F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000846  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000084E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000856  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000085D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000864  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000086C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000874  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000087B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000882  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000088A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000892  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00000899  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000008A0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000008A8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000008B0  8A0425E0A90000    mov al,[0xa9e0]
000008B7  8A1C25E0A90000    mov bl,[0xa9e0]
000008BE  668B0425E0A90000  mov ax,[0xa9e0]
000008C6  668B1C25E0A90000  mov bx,[0xa9e0]
000008CE  8B0425E0A90000    mov eax,[0xa9e0]
000008D5  8B1C25E0A90000    mov ebx,[0xa9e0]
000008DC  488B0425E0A90000  mov rax,[0xa9e0]
000008E4  488B1C25E0A90000  mov rbx,[0xa9e0]
000008EC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000008F3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000008FA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000902  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000090A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000911  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000918  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000920  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000928  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000092F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000936  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000093E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000946  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000094D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000954  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000095C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000964  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000096B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000972  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000097A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000982  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00000989  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000990  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00000998  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000009A0  8A0425E0A90000    mov al,[0xa9e0]
000009A7  8A1C25E0A90000    mov bl,[0xa9e0]
000009AE  668B0425E0A90000  mov ax,[0xa9e0]
000009B6  668B1C25E0A90000  mov bx,[0xa9e0]
000009BE  8B0425E0A90000    mov eax,[0xa9e0]
000009C5  8B1C25E0A90000    mov ebx,[0xa9e0]
000009CC  488B0425E0A90000  mov rax,[0xa9e0]
000009D4  488B1C25E0A90000  mov rbx,[0xa9e0]
000009DC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000009E3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000009EA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000009F2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000009FA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000A01  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000A08  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000A10  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000A18  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00000A1F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000A26  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00000A2E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000A36  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00000A3D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000A44  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00000A4C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000A54  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00000A5B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000A62  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00000A6A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000A72  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00000A79  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000A80  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00000A88  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00000A90  A0E0A90000000000  mov al,[qword 0xa9e0]
         -00
00000A99  8A1C25E0A90000    mov bl,[0xa9e0]
00000AA0  66A1E0A900000000  mov ax,[qword 0xa9e0]
         -0000
00000AAA  668B1C25E0A90000  mov bx,[0xa9e0]
00000AB2  A1E0A90000000000  mov eax,[qword 0xa9e0]
         -00
00000ABB  8B1C25E0A90000    mov ebx,[0xa9e0]
00000AC2  48A1E0A900000000  mov rax,[qword 0xa9e0]
         -0000
00000ACC  488B1C25E0A90000  mov rbx,[0xa9e0]
00000AD4  A0AAAAAAAAAAAAAA  mov al,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
00000ADD  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000AE4  66A1AAAAAAAAAAAA  mov ax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00000AEE  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000AF6  A1AAAAAAAAAAAAAA  mov eax,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
00000AFF  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000B06  48A1AAAAAAAAAAAA  mov rax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00000B10  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000B18  A0BBBBBBBB000000  mov al,[qword 0xbbbbbbbb]
         -00
00000B21  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000B28  66A1BBBBBBBB0000  mov ax,[qword 0xbbbbbbbb]
         -0000
00000B32  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000B3A  A1BBBBBBBB000000  mov eax,[qword 0xbbbbbbbb]
         -00
00000B43  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000B4A  48A1BBBBBBBB0000  mov rax,[qword 0xbbbbbbbb]
         -0000
00000B54  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000B5C  A0CCCCCCCCFFFFFF  mov al,[qword 0xffffffffcccccccc]
         -FF
00000B65  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000B6C  66A1CCCCCCCCFFFF  mov ax,[qword 0xffffffffcccccccc]
         -FFFF
00000B76  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000B7E  A1CCCCCCCCFFFFFF  mov eax,[qword 0xffffffffcccccccc]
         -FF
00000B87  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000B8E  48A1CCCCCCCCFFFF  mov rax,[qword 0xffffffffcccccccc]
         -FFFF
00000B98  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00000BA0  8A0425E0A90000    mov al,[0xa9e0]
00000BA7  8A1C25E0A90000    mov bl,[0xa9e0]
00000BAE  668B0425E0A90000  mov ax,[0xa9e0]
00000BB6  668B1C25E0A90000  mov bx,[0xa9e0]
00000BBE  8B0425E0A90000    mov eax,[0xa9e0]
00000BC5  8B1C25E0A90000    mov ebx,[0xa9e0]
00000BCC  488B0425E0A90000  mov rax,[0xa9e0]
00000BD4  488B1C25E0A90000  mov rbx,[0xa9e0]
00000BDC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000BE3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000BEA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000BF2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000BFA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000C01  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000C08  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000C10  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000C18  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00000C1F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000C26  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00000C2E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000C36  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00000C3D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000C44  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00000C4C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000C54  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00000C5B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000C62  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00000C6A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000C72  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00000C79  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000C80  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00000C88  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00000C90  8A0425E0A90000    mov al,[0xa9e0]
00000C97  8A1C25E0A90000    mov bl,[0xa9e0]
00000C9E  668B0425E0A90000  mov ax,[0xa9e0]
00000CA6  668B1C25E0A90000  mov bx,[0xa9e0]
00000CAE  8B0425E0A90000    mov eax,[0xa9e0]
00000CB5  8B1C25E0A90000    mov ebx,[0xa9e0]
00000CBC  488B0425E0A90000  mov rax,[0xa9e0]
00000CC4  488B1C25E0A90000  mov rbx,[0xa9e0]
00000CCC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000CD3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000CDA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000CE2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000CEA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000CF1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000CF8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000D00  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000D08  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00000D0F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000D16  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00000D1E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000D26  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00000D2D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000D34  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00000D3C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000D44  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00000D4B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000D52  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00000D5A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000D62  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00000D69  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000D70  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00000D78  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00000D80  A0E0A90000000000  mov al,[qword 0xa9e0]
         -00
00000D89  8A1C25E0A90000    mov bl,[0xa9e0]
00000D90  66A1E0A900000000  mov ax,[qword 0xa9e0]
         -0000
00000D9A  668B1C25E0A90000  mov bx,[0xa9e0]
00000DA2  A1E0A90000000000  mov eax,[qword 0xa9e0]
         -00
00000DAB  8B1C25E0A90000    mov ebx,[0xa9e0]
00000DB2  48A1E0A900000000  mov rax,[qword 0xa9e0]
         -0000
00000DBC  488B1C25E0A90000  mov rbx,[0xa9e0]
00000DC4  A0AAAAAAAAAAAAAA  mov al,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
00000DCD  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000DD4  66A1AAAAAAAAAAAA  mov ax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00000DDE  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000DE6  A1AAAAAAAAAAAAAA  mov eax,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
00000DEF  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000DF6  48A1AAAAAAAAAAAA  mov rax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00000E00  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000E08  A0BBBBBBBB000000  mov al,[qword 0xbbbbbbbb]
         -00
00000E11  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000E18  66A1BBBBBBBB0000  mov ax,[qword 0xbbbbbbbb]
         -0000
00000E22  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000E2A  A1BBBBBBBB000000  mov eax,[qword 0xbbbbbbbb]
         -00
00000E33  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000E3A  48A1BBBBBBBB0000  mov rax,[qword 0xbbbbbbbb]
         -0000
00000E44  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000E4C  A0CCCCCCCCFFFFFF  mov al,[qword 0xffffffffcccccccc]
         -FF
00000E55  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000E5C  66A1CCCCCCCCFFFF  mov ax,[qword 0xffffffffcccccccc]
         -FFFF
00000E66  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000E6E  A1CCCCCCCCFFFFFF  mov eax,[qword 0xffffffffcccccccc]
         -FF
00000E77  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000E7E  48A1CCCCCCCCFFFF  mov rax,[qword 0xffffffffcccccccc]
         -FFFF
00000E88  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00000E90  8A0425E0A90000    mov al,[0xa9e0]
00000E97  8A1C25E0A90000    mov bl,[0xa9e0]
00000E9E  668B0425E0A90000  mov ax,[0xa9e0]
00000EA6  668B1C25E0A90000  mov bx,[0xa9e0]
00000EAE  8B0425E0A90000    mov eax,[0xa9e0]
00000EB5  8B1C25E0A90000    mov ebx,[0xa9e0]
00000EBC  488B0425E0A90000  mov rax,[0xa9e0]
00000EC4  488B1C25E0A90000  mov rbx,[0xa9e0]
00000ECC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000ED3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000EDA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000EE2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000EEA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000EF1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000EF8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000F00  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000F08  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00000F0F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00000F16  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00000F1E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00000F26  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00000F2D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00000F34  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00000F3C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00000F44  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00000F4B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00000F52  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00000F5A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00000F62  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00000F69  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00000F70  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00000F78  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00000F80  8A0425E0A90000    mov al,[0xa9e0]
00000F87  8A1C25E0A90000    mov bl,[0xa9e0]
00000F8E  668B0425E0A90000  mov ax,[0xa9e0]
00000F96  668B1C25E0A90000  mov bx,[0xa9e0]
00000F9E  8B0425E0A90000    mov eax,[0xa9e0]
00000FA5  8B1C25E0A90000    mov ebx,[0xa9e0]
00000FAC  488B0425E0A90000  mov rax,[0xa9e0]
00000FB4  488B1C25E0A90000  mov rbx,[0xa9e0]
00000FBC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00000FC3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00000FCA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00000FD2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00000FDA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00000FE1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00000FE8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00000FF0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00000FF8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00000FFF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00001006  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000100E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00001016  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000101D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00001024  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000102C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00001034  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000103B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00001042  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000104A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00001052  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00001059  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001060  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001068  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001070  8A0425E0A90000    mov al,[0xa9e0]
00001077  8A1C25E0A90000    mov bl,[0xa9e0]
0000107E  668B0425E0A90000  mov ax,[0xa9e0]
00001086  668B1C25E0A90000  mov bx,[0xa9e0]
0000108E  8B0425E0A90000    mov eax,[0xa9e0]
00001095  8B1C25E0A90000    mov ebx,[0xa9e0]
0000109C  488B0425E0A90000  mov rax,[0xa9e0]
000010A4  488B1C25E0A90000  mov rbx,[0xa9e0]
000010AC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000010B3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000010BA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000010C2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000010CA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000010D1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000010D8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000010E0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000010E8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000010EF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000010F6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000010FE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00001106  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000110D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00001114  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000111C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00001124  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000112B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00001132  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000113A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00001142  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00001149  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001150  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001158  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001160  8A0425E0A90000    mov al,[0xa9e0]
00001167  8A1C25E0A90000    mov bl,[0xa9e0]
0000116E  668B0425E0A90000  mov ax,[0xa9e0]
00001176  668B1C25E0A90000  mov bx,[0xa9e0]
0000117E  8B0425E0A90000    mov eax,[0xa9e0]
00001185  8B1C25E0A90000    mov ebx,[0xa9e0]
0000118C  488B0425E0A90000  mov rax,[0xa9e0]
00001194  488B1C25E0A90000  mov rbx,[0xa9e0]
0000119C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000011A3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000011AA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000011B2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000011BA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000011C1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000011C8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000011D0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000011D8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000011DF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000011E6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000011EE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000011F6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000011FD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00001204  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000120C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00001214  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000121B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00001222  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000122A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00001232  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00001239  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001240  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001248  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001250  8A0425E0A90000    mov al,[0xa9e0]
00001257  8A1C25E0A90000    mov bl,[0xa9e0]
0000125E  668B0425E0A90000  mov ax,[0xa9e0]
00001266  668B1C25E0A90000  mov bx,[0xa9e0]
0000126E  8B0425E0A90000    mov eax,[0xa9e0]
00001275  8B1C25E0A90000    mov ebx,[0xa9e0]
0000127C  488B0425E0A90000  mov rax,[0xa9e0]
00001284  488B1C25E0A90000  mov rbx,[0xa9e0]
0000128C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001293  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000129A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000012A2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000012AA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000012B1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000012B8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000012C0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000012C8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000012CF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000012D6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000012DE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000012E6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000012ED  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000012F4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000012FC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00001304  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000130B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00001312  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000131A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00001322  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00001329  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001330  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001338  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001340  8A0425E0A90000    mov al,[0xa9e0]
00001347  8A1C25E0A90000    mov bl,[0xa9e0]
0000134E  668B0425E0A90000  mov ax,[0xa9e0]
00001356  668B1C25E0A90000  mov bx,[0xa9e0]
0000135E  8B0425E0A90000    mov eax,[0xa9e0]
00001365  8B1C25E0A90000    mov ebx,[0xa9e0]
0000136C  488B0425E0A90000  mov rax,[0xa9e0]
00001374  488B1C25E0A90000  mov rbx,[0xa9e0]
0000137C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001383  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000138A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001392  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000139A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000013A1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000013A8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000013B0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000013B8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000013BF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000013C6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000013CE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000013D6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000013DD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000013E4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000013EC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000013F4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000013FB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00001402  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000140A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00001412  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00001419  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001420  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001428  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001430  8A0425E0A90000    mov al,[0xa9e0]
00001437  8A1C25E0A90000    mov bl,[0xa9e0]
0000143E  668B0425E0A90000  mov ax,[0xa9e0]
00001446  668B1C25E0A90000  mov bx,[0xa9e0]
0000144E  8B0425E0A90000    mov eax,[0xa9e0]
00001455  8B1C25E0A90000    mov ebx,[0xa9e0]
0000145C  488B0425E0A90000  mov rax,[0xa9e0]
00001464  488B1C25E0A90000  mov rbx,[0xa9e0]
0000146C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001473  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000147A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001482  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000148A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00001491  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00001498  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000014A0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000014A8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000014AF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000014B6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000014BE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000014C6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000014CD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000014D4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000014DC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000014E4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000014EB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000014F2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000014FA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00001502  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00001509  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001510  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001518  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001520  8A0425E0A90000    mov al,[0xa9e0]
00001527  8A1C25E0A90000    mov bl,[0xa9e0]
0000152E  668B0425E0A90000  mov ax,[0xa9e0]
00001536  668B1C25E0A90000  mov bx,[0xa9e0]
0000153E  8B0425E0A90000    mov eax,[0xa9e0]
00001545  8B1C25E0A90000    mov ebx,[0xa9e0]
0000154C  488B0425E0A90000  mov rax,[0xa9e0]
00001554  488B1C25E0A90000  mov rbx,[0xa9e0]
0000155C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001563  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000156A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001572  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000157A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00001581  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00001588  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00001590  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00001598  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000159F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000015A6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000015AE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000015B6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000015BD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000015C4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000015CC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000015D4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000015DB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000015E2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000015EA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000015F2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000015F9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00001600  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00001608  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001610  8A0425E0A90000    mov al,[0xa9e0]
00001617  8A1C25E0A90000    mov bl,[0xa9e0]
0000161E  668B0425E0A90000  mov ax,[0xa9e0]
00001626  668B1C25E0A90000  mov bx,[0xa9e0]
0000162E  8B0425E0A90000    mov eax,[0xa9e0]
00001635  8B1C25E0A90000    mov ebx,[0xa9e0]
0000163C  488B0425E0A90000  mov rax,[0xa9e0]
00001644  488B1C25E0A90000  mov rbx,[0xa9e0]
0000164C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001653  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000165A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001662  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000166A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00001671  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00001678  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00001680  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00001688  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000168F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00001696  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000169E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000016A6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000016AD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000016B4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000016BC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000016C4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000016CB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000016D2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000016DA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000016E2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000016E9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000016F0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000016F8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00001700  8A0425E0A90000    mov al,[0xa9e0]
00001707  8A1C25E0A90000    mov bl,[0xa9e0]
0000170E  668B0425E0A90000  mov ax,[0xa9e0]
00001716  668B1C25E0A90000  mov bx,[0xa9e0]
0000171E  8B0425E0A90000    mov eax,[0xa9e0]
00001725  8B1C25E0A90000    mov ebx,[0xa9e0]
0000172C  488B0425E0A90000  mov rax,[0xa9e0]
00001734  488B1C25E0A90000  mov rbx,[0xa9e0]
0000173C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001743  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000174A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001752  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000175A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00001761  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00001768  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00001770  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00001778  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000177F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00001786  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000178E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00001796  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000179D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000017A4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000017AC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000017B4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000017BB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000017C2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000017CA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000017D2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000017D9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000017E0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000017E8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000017F0  8A0425E0A90000    mov al,[0xa9e0]
000017F7  8A1C25E0A90000    mov bl,[0xa9e0]
000017FE  668B0425E0A90000  mov ax,[0xa9e0]
00001806  668B1C25E0A90000  mov bx,[0xa9e0]
0000180E  8B0425E0A90000    mov eax,[0xa9e0]
00001815  8B1C25E0A90000    mov ebx,[0xa9e0]
0000181C  488B0425E0A90000  mov rax,[0xa9e0]
00001824  488B1C25E0A90000  mov rbx,[0xa9e0]
0000182C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001833  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000183A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001842  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000184A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00001851  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00001858  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00001860  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00001868  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000186F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00001876  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000187E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00001886  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000188D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00001894  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000189C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000018A4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000018AB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000018B2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000018BA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000018C2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000018C9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000018D0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000018D8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000018E0  8A0425E0A90000    mov al,[0xa9e0]
000018E7  8A1C25E0A90000    mov bl,[0xa9e0]
000018EE  668B0425E0A90000  mov ax,[0xa9e0]
000018F6  668B1C25E0A90000  mov bx,[0xa9e0]
000018FE  8B0425E0A90000    mov eax,[0xa9e0]
00001905  8B1C25E0A90000    mov ebx,[0xa9e0]
0000190C  488B0425E0A90000  mov rax,[0xa9e0]
00001914  488B1C25E0A90000  mov rbx,[0xa9e0]
0000191C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00001923  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000192A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00001932  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000193A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00001941  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00001948  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00001950  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00001958  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000195F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00001966  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000196E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00001976  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000197D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00001984  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000198C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00001994  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000199B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000019A2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000019AA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000019B2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000019B9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000019C0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000019C8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000019D0  648A0425E0A90000  mov al,[fs:0xa9e0]
000019D8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000019E0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000019E9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000019F2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000019FA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00001A02  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00001A0B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00001A14  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00001A1C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00001A24  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00001A2D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00001A36  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00001A3E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00001A46  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00001A4F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00001A58  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00001A60  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00001A68  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00001A71  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00001A7A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00001A82  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00001A8A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00001A93  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00001A9C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00001AA4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00001AAC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00001AB5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00001ABE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00001AC6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00001ACE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00001AD7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00001AE0  648A0425E0A90000  mov al,[fs:0xa9e0]
00001AE8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00001AF0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00001AF9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00001B02  648B0425E0A90000  mov eax,[fs:0xa9e0]
00001B0A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00001B12  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00001B1B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00001B24  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00001B2C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00001B34  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00001B3D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00001B46  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00001B4E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00001B56  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00001B5F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00001B68  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00001B70  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00001B78  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00001B81  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00001B8A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00001B92  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00001B9A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00001BA3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00001BAC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00001BB4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00001BBC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00001BC5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00001BCE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00001BD6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00001BDE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00001BE7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00001BF0  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
00001BFA  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00001C02  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
00001C0D  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00001C16  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
00001C20  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00001C28  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00001C33  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00001C3C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00001C46  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00001C4E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00001C59  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00001C62  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00001C6C  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00001C74  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00001C7F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00001C88  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
00001C92  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00001C9A  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
00001CA5  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00001CAE  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
00001CB8  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00001CC0  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
00001CCB  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00001CD4  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
00001CDE  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00001CE6  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00001CF1  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00001CFA  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
00001D04  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00001D0C  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00001D17  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00001D20  648A0425E0A90000  mov al,[fs:0xa9e0]
00001D28  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00001D30  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00001D39  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00001D42  648B0425E0A90000  mov eax,[fs:0xa9e0]
00001D4A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00001D52  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00001D5B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00001D64  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00001D6C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00001D74  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00001D7D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00001D86  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00001D8E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00001D96  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00001D9F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00001DA8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00001DB0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00001DB8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00001DC1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00001DCA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00001DD2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00001DDA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00001DE3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00001DEC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00001DF4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00001DFC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00001E05  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00001E0E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00001E16  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00001E1E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00001E27  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00001E30  648A0425E0A90000  mov al,[fs:0xa9e0]
00001E38  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00001E40  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00001E49  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00001E52  648B0425E0A90000  mov eax,[fs:0xa9e0]
00001E5A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00001E62  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00001E6B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00001E74  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00001E7C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00001E84  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00001E8D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00001E96  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00001E9E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00001EA6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00001EAF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00001EB8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00001EC0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00001EC8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00001ED1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00001EDA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00001EE2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00001EEA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00001EF3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00001EFC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00001F04  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00001F0C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00001F15  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00001F1E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00001F26  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00001F2E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00001F37  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00001F40  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
00001F4A  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00001F52  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
00001F5D  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00001F66  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
00001F70  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00001F78  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00001F83  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00001F8C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00001F96  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00001F9E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00001FA9  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00001FB2  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00001FBC  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00001FC4  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00001FCF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00001FD8  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
00001FE2  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00001FEA  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
00001FF5  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00001FFE  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
00002008  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002010  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
0000201B  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00002024  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
0000202E  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002036  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00002041  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000204A  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
00002054  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000205C  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00002067  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002070  648A0425E0A90000  mov al,[fs:0xa9e0]
00002078  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002080  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002089  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002092  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000209A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000020A2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000020AB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000020B4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000020BC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000020C4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000020CD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000020D6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000020DE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000020E6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000020EF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000020F8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002100  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002108  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002111  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000211A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002122  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000212A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002133  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000213C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002144  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000214C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002155  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000215E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002166  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000216E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002177  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002180  648A0425E0A90000  mov al,[fs:0xa9e0]
00002188  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002190  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002199  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000021A2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000021AA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000021B2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000021BB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000021C4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000021CC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000021D4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000021DD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000021E6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000021EE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000021F6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000021FF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002208  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002210  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002218  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002221  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000222A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002232  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000223A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002243  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000224C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002254  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000225C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002265  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000226E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002276  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000227E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002287  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002290  648A0425E0A90000  mov al,[fs:0xa9e0]
00002298  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000022A0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000022A9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000022B2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000022BA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000022C2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000022CB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000022D4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000022DC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000022E4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000022ED  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000022F6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000022FE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002306  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000230F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002318  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002320  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002328  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002331  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000233A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002342  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000234A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002353  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000235C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002364  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000236C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002375  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000237E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002386  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000238E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002397  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000023A0  648A0425E0A90000  mov al,[fs:0xa9e0]
000023A8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000023B0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000023B9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000023C2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000023CA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000023D2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000023DB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000023E4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000023EC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000023F4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000023FD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002406  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000240E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002416  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000241F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002428  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002430  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002438  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002441  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000244A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002452  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000245A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002463  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000246C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002474  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000247C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002485  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000248E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002496  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000249E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000024A7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000024B0  648A0425E0A90000  mov al,[fs:0xa9e0]
000024B8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000024C0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000024C9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000024D2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000024DA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000024E2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000024EB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000024F4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000024FC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002504  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000250D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002516  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000251E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002526  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000252F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002538  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002540  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002548  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002551  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000255A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002562  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000256A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002573  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000257C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002584  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000258C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002595  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000259E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000025A6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000025AE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000025B7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000025C0  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
000025CA  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000025D2  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
000025DD  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000025E6  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
000025F0  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000025F8  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00002603  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
0000260C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00002616  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
0000261E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00002629  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002632  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000263C  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002644  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
0000264F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002658  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
00002662  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
0000266A  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
00002675  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000267E  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
00002688  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002690  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
0000269B  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000026A4  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
000026AE  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000026B6  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
000026C1  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000026CA  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
000026D4  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000026DC  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
000026E7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000026F0  648A0425E0A90000  mov al,[fs:0xa9e0]
000026F8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002700  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002709  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002712  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000271A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002722  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000272B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002734  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000273C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002744  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000274D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002756  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000275E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002766  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000276F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002778  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002780  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002788  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002791  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000279A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
000027A2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000027AA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
000027B3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000027BC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000027C4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000027CC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000027D5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000027DE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000027E6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000027EE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000027F7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002800  648A0425E0A90000  mov al,[fs:0xa9e0]
00002808  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002810  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002819  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002822  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000282A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002832  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000283B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002844  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000284C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002854  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000285D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002866  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000286E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002876  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000287F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002888  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002890  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002898  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
000028A1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
000028AA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
000028B2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000028BA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
000028C3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000028CC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000028D4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000028DC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000028E5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000028EE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000028F6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000028FE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002907  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002910  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
0000291A  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002922  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
0000292D  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002936  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
00002940  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002948  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00002953  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
0000295C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00002966  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
0000296E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00002979  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002982  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000298C  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002994  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
0000299F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000029A8  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
000029B2  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000029BA  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
000029C5  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
000029CE  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
000029D8  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000029E0  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
000029EB  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000029F4  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
000029FE  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002A06  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00002A11  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00002A1A  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
00002A24  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00002A2C  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00002A37  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002A40  648A0425E0A90000  mov al,[fs:0xa9e0]
00002A48  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002A50  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002A59  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002A62  648B0425E0A90000  mov eax,[fs:0xa9e0]
00002A6A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002A72  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00002A7B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002A84  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00002A8C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002A94  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00002A9D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002AA6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00002AAE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002AB6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00002ABF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002AC8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002AD0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002AD8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002AE1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00002AEA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002AF2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002AFA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002B03  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00002B0C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002B14  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002B1C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002B25  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00002B2E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002B36  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00002B3E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002B47  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002B50  648A0425E0A90000  mov al,[fs:0xa9e0]
00002B58  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002B60  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002B69  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002B72  648B0425E0A90000  mov eax,[fs:0xa9e0]
00002B7A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002B82  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00002B8B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002B94  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00002B9C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002BA4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00002BAD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002BB6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00002BBE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002BC6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00002BCF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002BD8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002BE0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002BE8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002BF1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00002BFA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002C02  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002C0A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002C13  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00002C1C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002C24  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002C2C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002C35  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00002C3E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002C46  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00002C4E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002C57  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002C60  648A0425E0A90000  mov al,[fs:0xa9e0]
00002C68  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002C70  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002C79  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002C82  648B0425E0A90000  mov eax,[fs:0xa9e0]
00002C8A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002C92  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00002C9B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002CA4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00002CAC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002CB4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00002CBD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002CC6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00002CCE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002CD6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00002CDF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002CE8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002CF0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002CF8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002D01  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00002D0A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002D12  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002D1A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002D23  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00002D2C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002D34  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002D3C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002D45  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00002D4E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002D56  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00002D5E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002D67  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002D70  648A0425E0A90000  mov al,[fs:0xa9e0]
00002D78  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002D80  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002D89  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002D92  648B0425E0A90000  mov eax,[fs:0xa9e0]
00002D9A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002DA2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00002DAB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002DB4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00002DBC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002DC4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00002DCD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002DD6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00002DDE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002DE6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00002DEF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002DF8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002E00  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002E08  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002E11  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00002E1A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002E22  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002E2A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002E33  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00002E3C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002E44  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002E4C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002E55  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00002E5E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002E66  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00002E6E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002E77  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002E80  648A0425E0A90000  mov al,[fs:0xa9e0]
00002E88  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002E90  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002E99  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002EA2  648B0425E0A90000  mov eax,[fs:0xa9e0]
00002EAA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002EB2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00002EBB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002EC4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00002ECC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002ED4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00002EDD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002EE6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00002EEE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00002EF6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00002EFF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00002F08  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00002F10  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00002F18  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00002F21  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00002F2A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00002F32  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00002F3A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00002F43  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00002F4C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00002F54  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00002F5C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00002F65  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00002F6E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00002F76  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00002F7E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00002F87  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00002F90  648A0425E0A90000  mov al,[fs:0xa9e0]
00002F98  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00002FA0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00002FA9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00002FB2  648B0425E0A90000  mov eax,[fs:0xa9e0]
00002FBA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00002FC2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00002FCB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00002FD4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00002FDC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00002FE4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00002FED  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00002FF6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00002FFE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003006  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000300F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003018  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003020  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003028  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003031  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000303A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00003042  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000304A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00003053  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000305C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00003064  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000306C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00003075  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000307E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00003086  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000308E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00003097  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000030A0  648A0425E0A90000  mov al,[fs:0xa9e0]
000030A8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000030B0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000030B9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000030C2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000030CA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000030D2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000030DB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000030E4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000030EC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000030F4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000030FD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00003106  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000310E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003116  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000311F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003128  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003130  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003138  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003141  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000314A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00003152  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000315A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00003163  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000316C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00003174  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000317C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00003185  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000318E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00003196  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000319E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000031A7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000031B0  648A0425E0A90000  mov al,[fs:0xa9e0]
000031B8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000031C0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000031C9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000031D2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000031DA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000031E2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000031EB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000031F4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000031FC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00003204  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000320D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00003216  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000321E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003226  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000322F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003238  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003240  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003248  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003251  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000325A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00003262  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000326A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00003273  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000327C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00003284  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000328C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00003295  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000329E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000032A6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000032AE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000032B7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000032C0  648A0425E0A90000  mov al,[fs:0xa9e0]
000032C8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000032D0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000032D9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000032E2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000032EA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000032F2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000032FB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00003304  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000330C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00003314  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000331D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00003326  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000332E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003336  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000333F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003348  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003350  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003358  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003361  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000336A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00003372  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000337A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00003383  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000338C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00003394  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000339C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000033A5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000033AE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000033B6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000033BE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000033C7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000033D0  648A0425E0A90000  mov al,[fs:0xa9e0]
000033D8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000033E0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000033E9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000033F2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000033FA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00003402  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000340B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00003414  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000341C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00003424  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000342D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00003436  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000343E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003446  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000344F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003458  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003460  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003468  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003471  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000347A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00003482  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000348A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00003493  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000349C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000034A4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000034AC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000034B5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000034BE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000034C6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000034CE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000034D7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000034E0  648A0425E0A90000  mov al,[fs:0xa9e0]
000034E8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000034F0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000034F9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00003502  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000350A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00003512  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000351B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00003524  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000352C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00003534  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000353D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00003546  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000354E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003556  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000355F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003568  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003570  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003578  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003581  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000358A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00003592  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000359A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
000035A3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000035AC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000035B4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000035BC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000035C5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000035CE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000035D6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000035DE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000035E7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000035F0  648A0425E0A90000  mov al,[fs:0xa9e0]
000035F8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00003600  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00003609  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00003612  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000361A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00003622  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000362B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00003634  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000363C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00003644  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000364D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00003656  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000365E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00003666  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000366F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00003678  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00003680  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00003688  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00003691  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000369A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
000036A2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000036AA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
000036B3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000036BC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000036C4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000036CC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000036D5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000036DE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000036E6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000036EE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000036F7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00003700  268A0425E0A90000  mov al,[es:0xa9e0]
00003708  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003710  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003719  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003722  268B0425E0A90000  mov eax,[es:0xa9e0]
0000372A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003732  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000373B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003744  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000374C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003754  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000375D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003766  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000376E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003776  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000377F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003788  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00003790  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00003798  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000037A1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000037AA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000037B2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000037BA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000037C3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000037CC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000037D4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000037DC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000037E5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000037EE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000037F6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000037FE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00003807  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003810  268A0425E0A90000  mov al,[es:0xa9e0]
00003818  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003820  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003829  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003832  268B0425E0A90000  mov eax,[es:0xa9e0]
0000383A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003842  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000384B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003854  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000385C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003864  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000386D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003876  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000387E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003886  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000388F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003898  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000038A0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000038A8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000038B1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000038BA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000038C2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000038CA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000038D3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000038DC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000038E4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000038EC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000038F5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000038FE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00003906  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000390E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00003917  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003920  26A0E0A900000000  mov al,[es:qword 0xa9e0]
         -0000
0000392A  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003932  2666A1E0A9000000  mov ax,[es:qword 0xa9e0]
         -000000
0000393D  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003946  26A1E0A900000000  mov eax,[es:qword 0xa9e0]
         -0000
00003950  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003958  2648A1E0A9000000  mov rax,[es:qword 0xa9e0]
         -000000
00003963  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000396C  26A0AAAAAAAAAAAA  mov al,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00003976  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000397E  2666A1AAAAAAAAAA  mov ax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00003989  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003992  26A1AAAAAAAAAAAA  mov eax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000399C  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000039A4  2648A1AAAAAAAAAA  mov rax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
000039AF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000039B8  26A0BBBBBBBB0000  mov al,[es:qword 0xbbbbbbbb]
         -0000
000039C2  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000039CA  2666A1BBBBBBBB00  mov ax,[es:qword 0xbbbbbbbb]
         -000000
000039D5  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000039DE  26A1BBBBBBBB0000  mov eax,[es:qword 0xbbbbbbbb]
         -0000
000039E8  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000039F0  2648A1BBBBBBBB00  mov rax,[es:qword 0xbbbbbbbb]
         -000000
000039FB  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00003A04  26A0CCCCCCCCFFFF  mov al,[es:qword 0xffffffffcccccccc]
         -FFFF
00003A0E  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00003A16  2666A1CCCCCCCCFF  mov ax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00003A21  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00003A2A  26A1CCCCCCCCFFFF  mov eax,[es:qword 0xffffffffcccccccc]
         -FFFF
00003A34  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00003A3C  2648A1CCCCCCCCFF  mov rax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00003A47  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003A50  268A0425E0A90000  mov al,[es:0xa9e0]
00003A58  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003A60  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003A69  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003A72  268B0425E0A90000  mov eax,[es:0xa9e0]
00003A7A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003A82  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00003A8B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003A94  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00003A9C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003AA4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00003AAD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003AB6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00003ABE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003AC6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00003ACF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003AD8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00003AE0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00003AE8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00003AF1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00003AFA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00003B02  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00003B0A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00003B13  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00003B1C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00003B24  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00003B2C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00003B35  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00003B3E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00003B46  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00003B4E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00003B57  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003B60  268A0425E0A90000  mov al,[es:0xa9e0]
00003B68  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003B70  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003B79  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003B82  268B0425E0A90000  mov eax,[es:0xa9e0]
00003B8A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003B92  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00003B9B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003BA4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00003BAC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003BB4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00003BBD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003BC6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00003BCE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003BD6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00003BDF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003BE8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00003BF0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00003BF8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00003C01  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00003C0A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00003C12  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00003C1A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00003C23  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00003C2C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00003C34  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00003C3C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00003C45  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00003C4E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00003C56  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00003C5E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00003C67  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003C70  26A0E0A900000000  mov al,[es:qword 0xa9e0]
         -0000
00003C7A  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003C82  2666A1E0A9000000  mov ax,[es:qword 0xa9e0]
         -000000
00003C8D  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003C96  26A1E0A900000000  mov eax,[es:qword 0xa9e0]
         -0000
00003CA0  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003CA8  2648A1E0A9000000  mov rax,[es:qword 0xa9e0]
         -000000
00003CB3  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003CBC  26A0AAAAAAAAAAAA  mov al,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00003CC6  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003CCE  2666A1AAAAAAAAAA  mov ax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00003CD9  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003CE2  26A1AAAAAAAAAAAA  mov eax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00003CEC  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003CF4  2648A1AAAAAAAAAA  mov rax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00003CFF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003D08  26A0BBBBBBBB0000  mov al,[es:qword 0xbbbbbbbb]
         -0000
00003D12  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00003D1A  2666A1BBBBBBBB00  mov ax,[es:qword 0xbbbbbbbb]
         -000000
00003D25  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00003D2E  26A1BBBBBBBB0000  mov eax,[es:qword 0xbbbbbbbb]
         -0000
00003D38  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00003D40  2648A1BBBBBBBB00  mov rax,[es:qword 0xbbbbbbbb]
         -000000
00003D4B  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00003D54  26A0CCCCCCCCFFFF  mov al,[es:qword 0xffffffffcccccccc]
         -FFFF
00003D5E  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00003D66  2666A1CCCCCCCCFF  mov ax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00003D71  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00003D7A  26A1CCCCCCCCFFFF  mov eax,[es:qword 0xffffffffcccccccc]
         -FFFF
00003D84  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00003D8C  2648A1CCCCCCCCFF  mov rax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00003D97  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003DA0  268A0425E0A90000  mov al,[es:0xa9e0]
00003DA8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003DB0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003DB9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003DC2  268B0425E0A90000  mov eax,[es:0xa9e0]
00003DCA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003DD2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00003DDB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003DE4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00003DEC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003DF4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00003DFD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003E06  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00003E0E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003E16  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00003E1F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003E28  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00003E30  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00003E38  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00003E41  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00003E4A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00003E52  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00003E5A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00003E63  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00003E6C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00003E74  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00003E7C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00003E85  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00003E8E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00003E96  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00003E9E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00003EA7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003EB0  268A0425E0A90000  mov al,[es:0xa9e0]
00003EB8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003EC0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003EC9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003ED2  268B0425E0A90000  mov eax,[es:0xa9e0]
00003EDA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003EE2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00003EEB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00003EF4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00003EFC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00003F04  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00003F0D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00003F16  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00003F1E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00003F26  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00003F2F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00003F38  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00003F40  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00003F48  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00003F51  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00003F5A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00003F62  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00003F6A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00003F73  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00003F7C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00003F84  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00003F8C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00003F95  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00003F9E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00003FA6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00003FAE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00003FB7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00003FC0  268A0425E0A90000  mov al,[es:0xa9e0]
00003FC8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00003FD0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00003FD9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00003FE2  268B0425E0A90000  mov eax,[es:0xa9e0]
00003FEA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00003FF2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00003FFB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004004  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000400C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004014  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000401D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004026  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000402E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004036  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000403F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004048  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004050  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004058  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004061  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000406A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004072  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000407A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004083  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000408C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004094  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000409C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000040A5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000040AE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000040B6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000040BE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
000040C7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000040D0  268A0425E0A90000  mov al,[es:0xa9e0]
000040D8  268A1C25E0A90000  mov bl,[es:0xa9e0]
000040E0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
000040E9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000040F2  268B0425E0A90000  mov eax,[es:0xa9e0]
000040FA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004102  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000410B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004114  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000411C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004124  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000412D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004136  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000413E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004146  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000414F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004158  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004160  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004168  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004171  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000417A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004182  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000418A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004193  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000419C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000041A4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000041AC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000041B5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000041BE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000041C6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000041CE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
000041D7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000041E0  268A0425E0A90000  mov al,[es:0xa9e0]
000041E8  268A1C25E0A90000  mov bl,[es:0xa9e0]
000041F0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
000041F9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004202  268B0425E0A90000  mov eax,[es:0xa9e0]
0000420A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004212  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000421B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004224  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000422C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004234  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000423D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004246  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000424E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004256  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000425F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004268  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004270  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004278  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004281  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000428A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004292  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000429A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000042A3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000042AC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000042B4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000042BC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000042C5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000042CE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000042D6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000042DE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
000042E7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000042F0  26A0E0A900000000  mov al,[es:qword 0xa9e0]
         -0000
000042FA  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004302  2666A1E0A9000000  mov ax,[es:qword 0xa9e0]
         -000000
0000430D  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004316  26A1E0A900000000  mov eax,[es:qword 0xa9e0]
         -0000
00004320  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004328  2648A1E0A9000000  mov rax,[es:qword 0xa9e0]
         -000000
00004333  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000433C  26A0AAAAAAAAAAAA  mov al,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00004346  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000434E  2666A1AAAAAAAAAA  mov ax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00004359  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004362  26A1AAAAAAAAAAAA  mov eax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000436C  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004374  2648A1AAAAAAAAAA  mov rax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
0000437F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004388  26A0BBBBBBBB0000  mov al,[es:qword 0xbbbbbbbb]
         -0000
00004392  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000439A  2666A1BBBBBBBB00  mov ax,[es:qword 0xbbbbbbbb]
         -000000
000043A5  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000043AE  26A1BBBBBBBB0000  mov eax,[es:qword 0xbbbbbbbb]
         -0000
000043B8  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000043C0  2648A1BBBBBBBB00  mov rax,[es:qword 0xbbbbbbbb]
         -000000
000043CB  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000043D4  26A0CCCCCCCCFFFF  mov al,[es:qword 0xffffffffcccccccc]
         -FFFF
000043DE  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000043E6  2666A1CCCCCCCCFF  mov ax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
000043F1  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000043FA  26A1CCCCCCCCFFFF  mov eax,[es:qword 0xffffffffcccccccc]
         -FFFF
00004404  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000440C  2648A1CCCCCCCCFF  mov rax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00004417  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004420  268A0425E0A90000  mov al,[es:0xa9e0]
00004428  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004430  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004439  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004442  268B0425E0A90000  mov eax,[es:0xa9e0]
0000444A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004452  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000445B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004464  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000446C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004474  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000447D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004486  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000448E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004496  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000449F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000044A8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000044B0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000044B8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000044C1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000044CA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000044D2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000044DA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000044E3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000044EC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000044F4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000044FC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004505  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000450E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004516  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000451E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004527  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004530  268A0425E0A90000  mov al,[es:0xa9e0]
00004538  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004540  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004549  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004552  268B0425E0A90000  mov eax,[es:0xa9e0]
0000455A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004562  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000456B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004574  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000457C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004584  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000458D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004596  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000459E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000045A6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000045AF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000045B8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000045C0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000045C8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000045D1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000045DA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000045E2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000045EA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000045F3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000045FC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004604  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000460C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004615  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000461E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004626  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000462E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004637  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004640  26A0E0A900000000  mov al,[es:qword 0xa9e0]
         -0000
0000464A  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004652  2666A1E0A9000000  mov ax,[es:qword 0xa9e0]
         -000000
0000465D  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004666  26A1E0A900000000  mov eax,[es:qword 0xa9e0]
         -0000
00004670  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004678  2648A1E0A9000000  mov rax,[es:qword 0xa9e0]
         -000000
00004683  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000468C  26A0AAAAAAAAAAAA  mov al,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00004696  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000469E  2666A1AAAAAAAAAA  mov ax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
000046A9  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000046B2  26A1AAAAAAAAAAAA  mov eax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
000046BC  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000046C4  2648A1AAAAAAAAAA  mov rax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
000046CF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000046D8  26A0BBBBBBBB0000  mov al,[es:qword 0xbbbbbbbb]
         -0000
000046E2  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000046EA  2666A1BBBBBBBB00  mov ax,[es:qword 0xbbbbbbbb]
         -000000
000046F5  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000046FE  26A1BBBBBBBB0000  mov eax,[es:qword 0xbbbbbbbb]
         -0000
00004708  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004710  2648A1BBBBBBBB00  mov rax,[es:qword 0xbbbbbbbb]
         -000000
0000471B  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004724  26A0CCCCCCCCFFFF  mov al,[es:qword 0xffffffffcccccccc]
         -FFFF
0000472E  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004736  2666A1CCCCCCCCFF  mov ax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00004741  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000474A  26A1CCCCCCCCFFFF  mov eax,[es:qword 0xffffffffcccccccc]
         -FFFF
00004754  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000475C  2648A1CCCCCCCCFF  mov rax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00004767  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004770  268A0425E0A90000  mov al,[es:0xa9e0]
00004778  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004780  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004789  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004792  268B0425E0A90000  mov eax,[es:0xa9e0]
0000479A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000047A2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
000047AB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000047B4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000047BC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000047C4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000047CD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000047D6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000047DE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000047E6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000047EF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000047F8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004800  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004808  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004811  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000481A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004822  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000482A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004833  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000483C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004844  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000484C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004855  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000485E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004866  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000486E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004877  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004880  268A0425E0A90000  mov al,[es:0xa9e0]
00004888  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004890  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004899  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000048A2  268B0425E0A90000  mov eax,[es:0xa9e0]
000048AA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000048B2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
000048BB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000048C4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000048CC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000048D4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000048DD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000048E6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000048EE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000048F6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000048FF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004908  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004910  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004918  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004921  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000492A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004932  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000493A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004943  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000494C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004954  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000495C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004965  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000496E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004976  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000497E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004987  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004990  268A0425E0A90000  mov al,[es:0xa9e0]
00004998  268A1C25E0A90000  mov bl,[es:0xa9e0]
000049A0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
000049A9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000049B2  268B0425E0A90000  mov eax,[es:0xa9e0]
000049BA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000049C2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
000049CB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000049D4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000049DC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000049E4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000049ED  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000049F6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000049FE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004A06  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00004A0F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004A18  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004A20  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004A28  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004A31  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00004A3A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004A42  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004A4A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004A53  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004A5C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004A64  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004A6C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004A75  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00004A7E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004A86  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00004A8E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004A97  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004AA0  268A0425E0A90000  mov al,[es:0xa9e0]
00004AA8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004AB0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004AB9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004AC2  268B0425E0A90000  mov eax,[es:0xa9e0]
00004ACA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004AD2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00004ADB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004AE4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00004AEC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004AF4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00004AFD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004B06  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00004B0E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004B16  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00004B1F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004B28  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004B30  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004B38  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004B41  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00004B4A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004B52  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004B5A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004B63  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004B6C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004B74  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004B7C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004B85  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00004B8E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004B96  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00004B9E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004BA7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004BB0  268A0425E0A90000  mov al,[es:0xa9e0]
00004BB8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004BC0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004BC9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004BD2  268B0425E0A90000  mov eax,[es:0xa9e0]
00004BDA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004BE2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00004BEB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004BF4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00004BFC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004C04  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00004C0D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004C16  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00004C1E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004C26  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00004C2F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004C38  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004C40  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004C48  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004C51  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00004C5A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004C62  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004C6A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004C73  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004C7C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004C84  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004C8C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004C95  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00004C9E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004CA6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00004CAE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004CB7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004CC0  268A0425E0A90000  mov al,[es:0xa9e0]
00004CC8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004CD0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004CD9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004CE2  268B0425E0A90000  mov eax,[es:0xa9e0]
00004CEA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004CF2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00004CFB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004D04  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00004D0C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004D14  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00004D1D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004D26  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00004D2E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004D36  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00004D3F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004D48  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004D50  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004D58  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004D61  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00004D6A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004D72  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004D7A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004D83  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004D8C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004D94  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004D9C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004DA5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00004DAE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004DB6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00004DBE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004DC7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004DD0  268A0425E0A90000  mov al,[es:0xa9e0]
00004DD8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004DE0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004DE9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004DF2  268B0425E0A90000  mov eax,[es:0xa9e0]
00004DFA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004E02  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00004E0B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004E14  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00004E1C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004E24  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00004E2D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004E36  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00004E3E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004E46  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00004E4F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004E58  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004E60  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004E68  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004E71  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00004E7A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004E82  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004E8A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004E93  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004E9C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004EA4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004EAC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004EB5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00004EBE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004EC6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00004ECE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004ED7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004EE0  268A0425E0A90000  mov al,[es:0xa9e0]
00004EE8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00004EF0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00004EF9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00004F02  268B0425E0A90000  mov eax,[es:0xa9e0]
00004F0A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00004F12  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00004F1B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00004F24  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00004F2C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00004F34  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00004F3D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00004F46  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00004F4E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00004F56  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00004F5F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00004F68  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00004F70  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00004F78  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00004F81  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00004F8A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00004F92  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00004F9A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00004FA3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00004FAC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00004FB4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00004FBC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00004FC5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00004FCE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00004FD6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00004FDE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00004FE7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00004FF0  268A0425E0A90000  mov al,[es:0xa9e0]
00004FF8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00005000  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00005009  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00005012  268B0425E0A90000  mov eax,[es:0xa9e0]
0000501A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00005022  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000502B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00005034  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000503C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00005044  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000504D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00005056  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000505E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00005066  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000506F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00005078  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00005080  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00005088  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00005091  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000509A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000050A2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000050AA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000050B3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000050BC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000050C4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000050CC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000050D5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000050DE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000050E6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000050EE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
000050F7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00005100  268A0425E0A90000  mov al,[es:0xa9e0]
00005108  268A1C25E0A90000  mov bl,[es:0xa9e0]
00005110  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00005119  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00005122  268B0425E0A90000  mov eax,[es:0xa9e0]
0000512A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00005132  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000513B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00005144  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000514C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00005154  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000515D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00005166  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000516E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00005176  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000517F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00005188  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00005190  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00005198  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000051A1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000051AA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000051B2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000051BA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000051C3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000051CC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000051D4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000051DC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000051E5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000051EE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000051F6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000051FE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00005207  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00005210  268A0425E0A90000  mov al,[es:0xa9e0]
00005218  268A1C25E0A90000  mov bl,[es:0xa9e0]
00005220  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00005229  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00005232  268B0425E0A90000  mov eax,[es:0xa9e0]
0000523A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00005242  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000524B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00005254  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000525C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00005264  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000526D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00005276  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000527E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00005286  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000528F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00005298  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000052A0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000052A8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000052B1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000052BA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000052C2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000052CA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000052D3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000052DC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000052E4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000052EC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000052F5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000052FE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00005306  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000530E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00005317  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00005320  268A0425E0A90000  mov al,[es:0xa9e0]
00005328  268A1C25E0A90000  mov bl,[es:0xa9e0]
00005330  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00005339  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00005342  268B0425E0A90000  mov eax,[es:0xa9e0]
0000534A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00005352  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000535B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00005364  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000536C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00005374  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000537D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00005386  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000538E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00005396  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000539F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000053A8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000053B0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000053B8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000053C1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000053CA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000053D2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000053DA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000053E3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000053EC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000053F4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000053FC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00005405  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000540E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00005416  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000541E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00005427  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00005430  8A0425E0A90000    mov al,[0xa9e0]
00005437  8A1C25E0A90000    mov bl,[0xa9e0]
0000543E  668B0425E0A90000  mov ax,[0xa9e0]
00005446  668B1C25E0A90000  mov bx,[0xa9e0]
0000544E  8B0425E0A90000    mov eax,[0xa9e0]
00005455  8B1C25E0A90000    mov ebx,[0xa9e0]
0000545C  488B0425E0A90000  mov rax,[0xa9e0]
00005464  488B1C25E0A90000  mov rbx,[0xa9e0]
0000546C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005473  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000547A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005482  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000548A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005491  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005498  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000054A0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000054A8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000054AF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000054B6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000054BE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000054C6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000054CD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000054D4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000054DC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000054E4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000054EB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000054F2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000054FA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005502  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00005509  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005510  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005518  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005520  8A0425E0A90000    mov al,[0xa9e0]
00005527  8A1C25E0A90000    mov bl,[0xa9e0]
0000552E  668B0425E0A90000  mov ax,[0xa9e0]
00005536  668B1C25E0A90000  mov bx,[0xa9e0]
0000553E  8B0425E0A90000    mov eax,[0xa9e0]
00005545  8B1C25E0A90000    mov ebx,[0xa9e0]
0000554C  488B0425E0A90000  mov rax,[0xa9e0]
00005554  488B1C25E0A90000  mov rbx,[0xa9e0]
0000555C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005563  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000556A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005572  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000557A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005581  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005588  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005590  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005598  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000559F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000055A6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000055AE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000055B6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000055BD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000055C4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000055CC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000055D4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000055DB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000055E2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000055EA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000055F2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000055F9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005600  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005608  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005610  8A0425E0A90000    mov al,[0xa9e0]
00005617  8A1C25E0A90000    mov bl,[0xa9e0]
0000561E  668B0425E0A90000  mov ax,[0xa9e0]
00005626  668B1C25E0A90000  mov bx,[0xa9e0]
0000562E  8B0425E0A90000    mov eax,[0xa9e0]
00005635  8B1C25E0A90000    mov ebx,[0xa9e0]
0000563C  488B0425E0A90000  mov rax,[0xa9e0]
00005644  488B1C25E0A90000  mov rbx,[0xa9e0]
0000564C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005653  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000565A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005662  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000566A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005671  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005678  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005680  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005688  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000568F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005696  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000569E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000056A6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000056AD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000056B4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000056BC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000056C4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000056CB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000056D2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000056DA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000056E2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000056E9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000056F0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000056F8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005700  8A0425E0A90000    mov al,[0xa9e0]
00005707  8A1C25E0A90000    mov bl,[0xa9e0]
0000570E  668B0425E0A90000  mov ax,[0xa9e0]
00005716  668B1C25E0A90000  mov bx,[0xa9e0]
0000571E  8B0425E0A90000    mov eax,[0xa9e0]
00005725  8B1C25E0A90000    mov ebx,[0xa9e0]
0000572C  488B0425E0A90000  mov rax,[0xa9e0]
00005734  488B1C25E0A90000  mov rbx,[0xa9e0]
0000573C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005743  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000574A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005752  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000575A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005761  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005768  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005770  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005778  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000577F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005786  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000578E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005796  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000579D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000057A4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000057AC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000057B4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000057BB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000057C2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000057CA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000057D2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000057D9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000057E0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000057E8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000057F0  8A0425E0A90000    mov al,[0xa9e0]
000057F7  8A1C25E0A90000    mov bl,[0xa9e0]
000057FE  668B0425E0A90000  mov ax,[0xa9e0]
00005806  668B1C25E0A90000  mov bx,[0xa9e0]
0000580E  8B0425E0A90000    mov eax,[0xa9e0]
00005815  8B1C25E0A90000    mov ebx,[0xa9e0]
0000581C  488B0425E0A90000  mov rax,[0xa9e0]
00005824  488B1C25E0A90000  mov rbx,[0xa9e0]
0000582C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005833  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000583A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005842  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000584A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005851  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005858  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005860  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005868  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000586F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005876  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000587E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005886  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000588D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005894  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000589C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000058A4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000058AB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000058B2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000058BA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000058C2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000058C9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000058D0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000058D8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000058E0  8A0425E0A90000    mov al,[0xa9e0]
000058E7  8A1C25E0A90000    mov bl,[0xa9e0]
000058EE  668B0425E0A90000  mov ax,[0xa9e0]
000058F6  668B1C25E0A90000  mov bx,[0xa9e0]
000058FE  8B0425E0A90000    mov eax,[0xa9e0]
00005905  8B1C25E0A90000    mov ebx,[0xa9e0]
0000590C  488B0425E0A90000  mov rax,[0xa9e0]
00005914  488B1C25E0A90000  mov rbx,[0xa9e0]
0000591C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005923  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000592A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005932  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000593A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005941  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005948  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005950  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005958  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000595F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005966  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000596E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005976  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000597D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005984  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000598C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005994  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000599B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000059A2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000059AA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000059B2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000059B9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000059C0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000059C8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
000059D0  8A0425E0A90000    mov al,[0xa9e0]
000059D7  8A1C25E0A90000    mov bl,[0xa9e0]
000059DE  668B0425E0A90000  mov ax,[0xa9e0]
000059E6  668B1C25E0A90000  mov bx,[0xa9e0]
000059EE  8B0425E0A90000    mov eax,[0xa9e0]
000059F5  8B1C25E0A90000    mov ebx,[0xa9e0]
000059FC  488B0425E0A90000  mov rax,[0xa9e0]
00005A04  488B1C25E0A90000  mov rbx,[0xa9e0]
00005A0C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005A13  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005A1A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005A22  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005A2A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005A31  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005A38  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005A40  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005A48  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00005A4F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005A56  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00005A5E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005A66  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00005A6D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005A74  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00005A7C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005A84  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00005A8B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00005A92  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00005A9A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005AA2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00005AA9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005AB0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005AB8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005AC0  8A0425E0A90000    mov al,[0xa9e0]
00005AC7  8A1C25E0A90000    mov bl,[0xa9e0]
00005ACE  668B0425E0A90000  mov ax,[0xa9e0]
00005AD6  668B1C25E0A90000  mov bx,[0xa9e0]
00005ADE  8B0425E0A90000    mov eax,[0xa9e0]
00005AE5  8B1C25E0A90000    mov ebx,[0xa9e0]
00005AEC  488B0425E0A90000  mov rax,[0xa9e0]
00005AF4  488B1C25E0A90000  mov rbx,[0xa9e0]
00005AFC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005B03  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005B0A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005B12  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005B1A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005B21  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005B28  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005B30  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005B38  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00005B3F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005B46  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00005B4E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005B56  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00005B5D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005B64  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00005B6C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005B74  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00005B7B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00005B82  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00005B8A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005B92  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00005B99  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005BA0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005BA8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005BB0  8A0425E0A90000    mov al,[0xa9e0]
00005BB7  8A1C25E0A90000    mov bl,[0xa9e0]
00005BBE  668B0425E0A90000  mov ax,[0xa9e0]
00005BC6  668B1C25E0A90000  mov bx,[0xa9e0]
00005BCE  8B0425E0A90000    mov eax,[0xa9e0]
00005BD5  8B1C25E0A90000    mov ebx,[0xa9e0]
00005BDC  488B0425E0A90000  mov rax,[0xa9e0]
00005BE4  488B1C25E0A90000  mov rbx,[0xa9e0]
00005BEC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005BF3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005BFA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005C02  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005C0A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005C11  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005C18  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005C20  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005C28  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00005C2F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005C36  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00005C3E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005C46  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00005C4D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005C54  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00005C5C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005C64  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00005C6B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00005C72  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00005C7A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005C82  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00005C89  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005C90  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005C98  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005CA0  8A0425E0A90000    mov al,[0xa9e0]
00005CA7  8A1C25E0A90000    mov bl,[0xa9e0]
00005CAE  668B0425E0A90000  mov ax,[0xa9e0]
00005CB6  668B1C25E0A90000  mov bx,[0xa9e0]
00005CBE  8B0425E0A90000    mov eax,[0xa9e0]
00005CC5  8B1C25E0A90000    mov ebx,[0xa9e0]
00005CCC  488B0425E0A90000  mov rax,[0xa9e0]
00005CD4  488B1C25E0A90000  mov rbx,[0xa9e0]
00005CDC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005CE3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005CEA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005CF2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005CFA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005D01  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005D08  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005D10  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005D18  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00005D1F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005D26  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00005D2E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005D36  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00005D3D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005D44  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00005D4C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005D54  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00005D5B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00005D62  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00005D6A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005D72  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00005D79  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005D80  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005D88  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005D90  8A0425E0A90000    mov al,[0xa9e0]
00005D97  8A1C25E0A90000    mov bl,[0xa9e0]
00005D9E  668B0425E0A90000  mov ax,[0xa9e0]
00005DA6  668B1C25E0A90000  mov bx,[0xa9e0]
00005DAE  8B0425E0A90000    mov eax,[0xa9e0]
00005DB5  8B1C25E0A90000    mov ebx,[0xa9e0]
00005DBC  488B0425E0A90000  mov rax,[0xa9e0]
00005DC4  488B1C25E0A90000  mov rbx,[0xa9e0]
00005DCC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005DD3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005DDA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005DE2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005DEA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005DF1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005DF8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00005E00  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005E08  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00005E0F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005E16  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00005E1E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005E26  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00005E2D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005E34  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00005E3C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005E44  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00005E4B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00005E52  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00005E5A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005E62  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00005E69  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005E70  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00005E78  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005E80  A0E0A90000000000  mov al,[qword 0xa9e0]
         -00
00005E89  8A1C25E0A90000    mov bl,[0xa9e0]
00005E90  66A1E0A900000000  mov ax,[qword 0xa9e0]
         -0000
00005E9A  668B1C25E0A90000  mov bx,[0xa9e0]
00005EA2  A1E0A90000000000  mov eax,[qword 0xa9e0]
         -00
00005EAB  8B1C25E0A90000    mov ebx,[0xa9e0]
00005EB2  48A1E0A900000000  mov rax,[qword 0xa9e0]
         -0000
00005EBC  488B1C25E0A90000  mov rbx,[0xa9e0]
00005EC4  A0AAAAAAAAAAAAAA  mov al,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
00005ECD  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005ED4  66A1AAAAAAAAAAAA  mov ax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00005EDE  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005EE6  A1AAAAAAAAAAAAAA  mov eax,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
00005EEF  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005EF6  48A1AAAAAAAAAAAA  mov rax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00005F00  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00005F08  A0BBBBBBBB000000  mov al,[qword 0xbbbbbbbb]
         -00
00005F11  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00005F18  66A1BBBBBBBB0000  mov ax,[qword 0xbbbbbbbb]
         -0000
00005F22  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00005F2A  A1BBBBBBBB000000  mov eax,[qword 0xbbbbbbbb]
         -00
00005F33  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00005F3A  48A1BBBBBBBB0000  mov rax,[qword 0xbbbbbbbb]
         -0000
00005F44  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00005F4C  A0CCCCCCCCFFFFFF  mov al,[qword 0xffffffffcccccccc]
         -FF
00005F55  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00005F5C  66A1CCCCCCCCFFFF  mov ax,[qword 0xffffffffcccccccc]
         -FFFF
00005F66  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00005F6E  A1CCCCCCCCFFFFFF  mov eax,[qword 0xffffffffcccccccc]
         -FF
00005F77  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00005F7E  48A1CCCCCCCCFFFF  mov rax,[qword 0xffffffffcccccccc]
         -FFFF
00005F88  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00005F90  8A0425E0A90000    mov al,[0xa9e0]
00005F97  8A1C25E0A90000    mov bl,[0xa9e0]
00005F9E  668B0425E0A90000  mov ax,[0xa9e0]
00005FA6  668B1C25E0A90000  mov bx,[0xa9e0]
00005FAE  8B0425E0A90000    mov eax,[0xa9e0]
00005FB5  8B1C25E0A90000    mov ebx,[0xa9e0]
00005FBC  488B0425E0A90000  mov rax,[0xa9e0]
00005FC4  488B1C25E0A90000  mov rbx,[0xa9e0]
00005FCC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00005FD3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00005FDA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00005FE2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00005FEA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00005FF1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00005FF8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006000  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006008  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000600F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006016  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000601E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006026  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000602D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006034  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000603C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006044  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000604B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006052  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000605A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006062  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006069  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006070  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006078  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006080  8A0425E0A90000    mov al,[0xa9e0]
00006087  8A1C25E0A90000    mov bl,[0xa9e0]
0000608E  668B0425E0A90000  mov ax,[0xa9e0]
00006096  668B1C25E0A90000  mov bx,[0xa9e0]
0000609E  8B0425E0A90000    mov eax,[0xa9e0]
000060A5  8B1C25E0A90000    mov ebx,[0xa9e0]
000060AC  488B0425E0A90000  mov rax,[0xa9e0]
000060B4  488B1C25E0A90000  mov rbx,[0xa9e0]
000060BC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000060C3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000060CA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000060D2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000060DA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000060E1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000060E8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000060F0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000060F8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000060FF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006106  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000610E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006116  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000611D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006124  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000612C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006134  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000613B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006142  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000614A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006152  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006159  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006160  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006168  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006170  A0E0A90000000000  mov al,[qword 0xa9e0]
         -00
00006179  8A1C25E0A90000    mov bl,[0xa9e0]
00006180  66A1E0A900000000  mov ax,[qword 0xa9e0]
         -0000
0000618A  668B1C25E0A90000  mov bx,[0xa9e0]
00006192  A1E0A90000000000  mov eax,[qword 0xa9e0]
         -00
0000619B  8B1C25E0A90000    mov ebx,[0xa9e0]
000061A2  48A1E0A900000000  mov rax,[qword 0xa9e0]
         -0000
000061AC  488B1C25E0A90000  mov rbx,[0xa9e0]
000061B4  A0AAAAAAAAAAAAAA  mov al,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
000061BD  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000061C4  66A1AAAAAAAAAAAA  mov ax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
000061CE  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000061D6  A1AAAAAAAAAAAAAA  mov eax,[qword 0xaaaaaaaaaaaaaaaa]
         -AA
000061DF  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000061E6  48A1AAAAAAAAAAAA  mov rax,[qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
000061F0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000061F8  A0BBBBBBBB000000  mov al,[qword 0xbbbbbbbb]
         -00
00006201  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006208  66A1BBBBBBBB0000  mov ax,[qword 0xbbbbbbbb]
         -0000
00006212  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
0000621A  A1BBBBBBBB000000  mov eax,[qword 0xbbbbbbbb]
         -00
00006223  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
0000622A  48A1BBBBBBBB0000  mov rax,[qword 0xbbbbbbbb]
         -0000
00006234  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
0000623C  A0CCCCCCCCFFFFFF  mov al,[qword 0xffffffffcccccccc]
         -FF
00006245  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
0000624C  66A1CCCCCCCCFFFF  mov ax,[qword 0xffffffffcccccccc]
         -FFFF
00006256  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
0000625E  A1CCCCCCCCFFFFFF  mov eax,[qword 0xffffffffcccccccc]
         -FF
00006267  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
0000626E  48A1CCCCCCCCFFFF  mov rax,[qword 0xffffffffcccccccc]
         -FFFF
00006278  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006280  8A0425E0A90000    mov al,[0xa9e0]
00006287  8A1C25E0A90000    mov bl,[0xa9e0]
0000628E  668B0425E0A90000  mov ax,[0xa9e0]
00006296  668B1C25E0A90000  mov bx,[0xa9e0]
0000629E  8B0425E0A90000    mov eax,[0xa9e0]
000062A5  8B1C25E0A90000    mov ebx,[0xa9e0]
000062AC  488B0425E0A90000  mov rax,[0xa9e0]
000062B4  488B1C25E0A90000  mov rbx,[0xa9e0]
000062BC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000062C3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000062CA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000062D2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000062DA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000062E1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000062E8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000062F0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000062F8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000062FF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006306  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000630E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006316  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000631D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006324  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000632C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006334  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000633B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006342  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000634A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006352  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006359  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006360  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006368  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006370  8A0425E0A90000    mov al,[0xa9e0]
00006377  8A1C25E0A90000    mov bl,[0xa9e0]
0000637E  668B0425E0A90000  mov ax,[0xa9e0]
00006386  668B1C25E0A90000  mov bx,[0xa9e0]
0000638E  8B0425E0A90000    mov eax,[0xa9e0]
00006395  8B1C25E0A90000    mov ebx,[0xa9e0]
0000639C  488B0425E0A90000  mov rax,[0xa9e0]
000063A4  488B1C25E0A90000  mov rbx,[0xa9e0]
000063AC  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000063B3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000063BA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000063C2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000063CA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000063D1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000063D8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000063E0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000063E8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000063EF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000063F6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000063FE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006406  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
0000640D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006414  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000641C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006424  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000642B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006432  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000643A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006442  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006449  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006450  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006458  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006460  8A0425E0A90000    mov al,[0xa9e0]
00006467  8A1C25E0A90000    mov bl,[0xa9e0]
0000646E  668B0425E0A90000  mov ax,[0xa9e0]
00006476  668B1C25E0A90000  mov bx,[0xa9e0]
0000647E  8B0425E0A90000    mov eax,[0xa9e0]
00006485  8B1C25E0A90000    mov ebx,[0xa9e0]
0000648C  488B0425E0A90000  mov rax,[0xa9e0]
00006494  488B1C25E0A90000  mov rbx,[0xa9e0]
0000649C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
000064A3  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
000064AA  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000064B2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000064BA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000064C1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000064C8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000064D0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000064D8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000064DF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000064E6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000064EE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000064F6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000064FD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006504  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
0000650C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006514  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000651B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006522  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000652A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006532  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006539  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006540  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006548  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006550  8A0425E0A90000    mov al,[0xa9e0]
00006557  8A1C25E0A90000    mov bl,[0xa9e0]
0000655E  668B0425E0A90000  mov ax,[0xa9e0]
00006566  668B1C25E0A90000  mov bx,[0xa9e0]
0000656E  8B0425E0A90000    mov eax,[0xa9e0]
00006575  8B1C25E0A90000    mov ebx,[0xa9e0]
0000657C  488B0425E0A90000  mov rax,[0xa9e0]
00006584  488B1C25E0A90000  mov rbx,[0xa9e0]
0000658C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006593  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000659A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
000065A2  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
000065AA  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000065B1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000065B8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000065C0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000065C8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000065CF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000065D6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000065DE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000065E6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000065ED  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000065F4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000065FC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006604  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
0000660B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006612  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000661A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006622  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006629  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006630  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006638  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006640  8A0425E0A90000    mov al,[0xa9e0]
00006647  8A1C25E0A90000    mov bl,[0xa9e0]
0000664E  668B0425E0A90000  mov ax,[0xa9e0]
00006656  668B1C25E0A90000  mov bx,[0xa9e0]
0000665E  8B0425E0A90000    mov eax,[0xa9e0]
00006665  8B1C25E0A90000    mov ebx,[0xa9e0]
0000666C  488B0425E0A90000  mov rax,[0xa9e0]
00006674  488B1C25E0A90000  mov rbx,[0xa9e0]
0000667C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006683  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000668A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006692  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000669A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
000066A1  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
000066A8  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000066B0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000066B8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000066BF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000066C6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000066CE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000066D6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000066DD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000066E4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000066EC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000066F4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000066FB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006702  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
0000670A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006712  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006719  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006720  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006728  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006730  8A0425E0A90000    mov al,[0xa9e0]
00006737  8A1C25E0A90000    mov bl,[0xa9e0]
0000673E  668B0425E0A90000  mov ax,[0xa9e0]
00006746  668B1C25E0A90000  mov bx,[0xa9e0]
0000674E  8B0425E0A90000    mov eax,[0xa9e0]
00006755  8B1C25E0A90000    mov ebx,[0xa9e0]
0000675C  488B0425E0A90000  mov rax,[0xa9e0]
00006764  488B1C25E0A90000  mov rbx,[0xa9e0]
0000676C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006773  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000677A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006782  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000678A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006791  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006798  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
000067A0  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
000067A8  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
000067AF  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000067B6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000067BE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000067C6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000067CD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000067D4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000067DC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000067E4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000067EB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000067F2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000067FA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006802  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006809  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006810  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006818  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006820  8A0425E0A90000    mov al,[0xa9e0]
00006827  8A1C25E0A90000    mov bl,[0xa9e0]
0000682E  668B0425E0A90000  mov ax,[0xa9e0]
00006836  668B1C25E0A90000  mov bx,[0xa9e0]
0000683E  8B0425E0A90000    mov eax,[0xa9e0]
00006845  8B1C25E0A90000    mov ebx,[0xa9e0]
0000684C  488B0425E0A90000  mov rax,[0xa9e0]
00006854  488B1C25E0A90000  mov rbx,[0xa9e0]
0000685C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006863  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000686A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006872  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000687A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006881  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006888  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006890  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006898  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000689F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
000068A6  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
000068AE  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000068B6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000068BD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000068C4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000068CC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000068D4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000068DB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000068E2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000068EA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000068F2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000068F9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006900  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006908  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006910  8A0425E0A90000    mov al,[0xa9e0]
00006917  8A1C25E0A90000    mov bl,[0xa9e0]
0000691E  668B0425E0A90000  mov ax,[0xa9e0]
00006926  668B1C25E0A90000  mov bx,[0xa9e0]
0000692E  8B0425E0A90000    mov eax,[0xa9e0]
00006935  8B1C25E0A90000    mov ebx,[0xa9e0]
0000693C  488B0425E0A90000  mov rax,[0xa9e0]
00006944  488B1C25E0A90000  mov rbx,[0xa9e0]
0000694C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006953  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
0000695A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006962  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
0000696A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006971  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006978  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006980  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006988  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
0000698F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006996  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
0000699E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
000069A6  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
000069AD  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
000069B4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
000069BC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
000069C4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
000069CB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
000069D2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
000069DA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
000069E2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
000069E9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
000069F0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
000069F8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006A00  8A0425E0A90000    mov al,[0xa9e0]
00006A07  8A1C25E0A90000    mov bl,[0xa9e0]
00006A0E  668B0425E0A90000  mov ax,[0xa9e0]
00006A16  668B1C25E0A90000  mov bx,[0xa9e0]
00006A1E  8B0425E0A90000    mov eax,[0xa9e0]
00006A25  8B1C25E0A90000    mov ebx,[0xa9e0]
00006A2C  488B0425E0A90000  mov rax,[0xa9e0]
00006A34  488B1C25E0A90000  mov rbx,[0xa9e0]
00006A3C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006A43  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00006A4A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006A52  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00006A5A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006A61  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006A68  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006A70  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006A78  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00006A7F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006A86  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00006A8E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006A96  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00006A9D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006AA4  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00006AAC  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006AB4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00006ABB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006AC2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00006ACA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006AD2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006AD9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006AE0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006AE8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006AF0  8A0425E0A90000    mov al,[0xa9e0]
00006AF7  8A1C25E0A90000    mov bl,[0xa9e0]
00006AFE  668B0425E0A90000  mov ax,[0xa9e0]
00006B06  668B1C25E0A90000  mov bx,[0xa9e0]
00006B0E  8B0425E0A90000    mov eax,[0xa9e0]
00006B15  8B1C25E0A90000    mov ebx,[0xa9e0]
00006B1C  488B0425E0A90000  mov rax,[0xa9e0]
00006B24  488B1C25E0A90000  mov rbx,[0xa9e0]
00006B2C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006B33  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00006B3A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006B42  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00006B4A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006B51  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006B58  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006B60  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006B68  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00006B6F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006B76  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00006B7E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006B86  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00006B8D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006B94  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00006B9C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006BA4  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00006BAB  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006BB2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00006BBA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006BC2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006BC9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006BD0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006BD8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006BE0  8A0425E0A90000    mov al,[0xa9e0]
00006BE7  8A1C25E0A90000    mov bl,[0xa9e0]
00006BEE  668B0425E0A90000  mov ax,[0xa9e0]
00006BF6  668B1C25E0A90000  mov bx,[0xa9e0]
00006BFE  8B0425E0A90000    mov eax,[0xa9e0]
00006C05  8B1C25E0A90000    mov ebx,[0xa9e0]
00006C0C  488B0425E0A90000  mov rax,[0xa9e0]
00006C14  488B1C25E0A90000  mov rbx,[0xa9e0]
00006C1C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006C23  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00006C2A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006C32  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00006C3A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006C41  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006C48  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006C50  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006C58  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00006C5F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006C66  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00006C6E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006C76  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00006C7D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006C84  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00006C8C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006C94  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00006C9B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006CA2  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00006CAA  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006CB2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006CB9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006CC0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006CC8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006CD0  8A0425E0A90000    mov al,[0xa9e0]
00006CD7  8A1C25E0A90000    mov bl,[0xa9e0]
00006CDE  668B0425E0A90000  mov ax,[0xa9e0]
00006CE6  668B1C25E0A90000  mov bx,[0xa9e0]
00006CEE  8B0425E0A90000    mov eax,[0xa9e0]
00006CF5  8B1C25E0A90000    mov ebx,[0xa9e0]
00006CFC  488B0425E0A90000  mov rax,[0xa9e0]
00006D04  488B1C25E0A90000  mov rbx,[0xa9e0]
00006D0C  8A0425AAAAAAAA    mov al,[0xffffffffaaaaaaaa]
00006D13  8A1C25AAAAAAAA    mov bl,[0xffffffffaaaaaaaa]
00006D1A  668B0425AAAAAAAA  mov ax,[0xffffffffaaaaaaaa]
00006D22  668B1C25AAAAAAAA  mov bx,[0xffffffffaaaaaaaa]
00006D2A  8B0425AAAAAAAA    mov eax,[0xffffffffaaaaaaaa]
00006D31  8B1C25AAAAAAAA    mov ebx,[0xffffffffaaaaaaaa]
00006D38  488B0425AAAAAAAA  mov rax,[0xffffffffaaaaaaaa]
00006D40  488B1C25AAAAAAAA  mov rbx,[0xffffffffaaaaaaaa]
00006D48  8A0425BBBBBBBB    mov al,[0xffffffffbbbbbbbb]
00006D4F  8A1C25BBBBBBBB    mov bl,[0xffffffffbbbbbbbb]
00006D56  668B0425BBBBBBBB  mov ax,[0xffffffffbbbbbbbb]
00006D5E  668B1C25BBBBBBBB  mov bx,[0xffffffffbbbbbbbb]
00006D66  8B0425BBBBBBBB    mov eax,[0xffffffffbbbbbbbb]
00006D6D  8B1C25BBBBBBBB    mov ebx,[0xffffffffbbbbbbbb]
00006D74  488B0425BBBBBBBB  mov rax,[0xffffffffbbbbbbbb]
00006D7C  488B1C25BBBBBBBB  mov rbx,[0xffffffffbbbbbbbb]
00006D84  8A0425CCCCCCCC    mov al,[0xffffffffcccccccc]
00006D8B  8A1C25CCCCCCCC    mov bl,[0xffffffffcccccccc]
00006D92  668B0425CCCCCCCC  mov ax,[0xffffffffcccccccc]
00006D9A  668B1C25CCCCCCCC  mov bx,[0xffffffffcccccccc]
00006DA2  8B0425CCCCCCCC    mov eax,[0xffffffffcccccccc]
00006DA9  8B1C25CCCCCCCC    mov ebx,[0xffffffffcccccccc]
00006DB0  488B0425CCCCCCCC  mov rax,[0xffffffffcccccccc]
00006DB8  488B1C25CCCCCCCC  mov rbx,[0xffffffffcccccccc]
00006DC0  648A0425E0A90000  mov al,[fs:0xa9e0]
00006DC8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00006DD0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00006DD9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00006DE2  648B0425E0A90000  mov eax,[fs:0xa9e0]
00006DEA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00006DF2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00006DFB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00006E04  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00006E0C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00006E14  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00006E1D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00006E26  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00006E2E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00006E36  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00006E3F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00006E48  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00006E50  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00006E58  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00006E61  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00006E6A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00006E72  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00006E7A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00006E83  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00006E8C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00006E94  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00006E9C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00006EA5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00006EAE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00006EB6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00006EBE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00006EC7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00006ED0  648A0425E0A90000  mov al,[fs:0xa9e0]
00006ED8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00006EE0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00006EE9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00006EF2  648B0425E0A90000  mov eax,[fs:0xa9e0]
00006EFA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00006F02  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00006F0B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00006F14  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00006F1C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00006F24  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00006F2D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00006F36  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00006F3E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00006F46  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00006F4F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00006F58  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00006F60  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00006F68  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00006F71  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00006F7A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00006F82  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00006F8A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00006F93  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00006F9C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00006FA4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00006FAC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00006FB5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00006FBE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00006FC6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00006FCE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00006FD7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00006FE0  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
00006FEA  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00006FF2  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
00006FFD  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007006  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
00007010  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007018  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00007023  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
0000702C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00007036  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
0000703E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00007049  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007052  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000705C  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007064  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
0000706F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007078  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
00007082  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
0000708A  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
00007095  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000709E  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
000070A8  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000070B0  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
000070BB  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000070C4  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
000070CE  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000070D6  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
000070E1  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000070EA  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
000070F4  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000070FC  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007107  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007110  648A0425E0A90000  mov al,[fs:0xa9e0]
00007118  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007120  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007129  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007132  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000713A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007142  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000714B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007154  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000715C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007164  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000716D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007176  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000717E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007186  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000718F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007198  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
000071A0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000071A8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
000071B1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
000071BA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
000071C2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000071CA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
000071D3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000071DC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000071E4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000071EC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000071F5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000071FE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007206  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000720E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007217  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007220  648A0425E0A90000  mov al,[fs:0xa9e0]
00007228  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007230  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007239  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007242  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000724A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007252  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000725B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007264  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000726C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007274  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000727D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007286  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000728E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007296  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000729F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000072A8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
000072B0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000072B8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
000072C1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
000072CA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
000072D2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
000072DA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
000072E3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
000072EC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000072F4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000072FC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007305  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000730E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007316  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000731E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007327  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007330  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
0000733A  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007342  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
0000734D  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007356  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
00007360  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007368  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00007373  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
0000737C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00007386  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
0000738E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00007399  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000073A2  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
000073AC  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000073B4  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
000073BF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000073C8  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
000073D2  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000073DA  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
000073E5  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
000073EE  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
000073F8  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007400  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
0000740B  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00007414  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
0000741E  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00007426  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007431  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000743A  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
00007444  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000744C  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007457  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007460  648A0425E0A90000  mov al,[fs:0xa9e0]
00007468  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007470  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007479  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007482  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000748A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007492  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000749B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000074A4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000074AC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000074B4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000074BD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000074C6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000074CE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000074D6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000074DF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000074E8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
000074F0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000074F8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007501  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000750A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007512  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000751A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007523  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000752C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007534  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000753C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007545  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000754E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007556  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000755E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007567  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007570  648A0425E0A90000  mov al,[fs:0xa9e0]
00007578  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007580  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007589  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007592  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000759A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000075A2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000075AB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000075B4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000075BC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000075C4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000075CD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000075D6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000075DE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000075E6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000075EF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000075F8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007600  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007608  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007611  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000761A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007622  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000762A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007633  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000763C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007644  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000764C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007655  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000765E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007666  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000766E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007677  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007680  648A0425E0A90000  mov al,[fs:0xa9e0]
00007688  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007690  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007699  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000076A2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000076AA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000076B2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000076BB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000076C4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000076CC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000076D4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000076DD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000076E6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000076EE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000076F6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000076FF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007708  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007710  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007718  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007721  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000772A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007732  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000773A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007743  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000774C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007754  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000775C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007765  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000776E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007776  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000777E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007787  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007790  648A0425E0A90000  mov al,[fs:0xa9e0]
00007798  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000077A0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000077A9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000077B2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000077BA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000077C2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000077CB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000077D4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000077DC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000077E4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000077ED  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000077F6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000077FE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007806  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000780F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007818  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007820  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007828  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007831  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000783A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007842  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000784A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007853  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000785C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007864  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000786C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007875  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000787E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007886  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000788E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007897  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000078A0  648A0425E0A90000  mov al,[fs:0xa9e0]
000078A8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000078B0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000078B9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000078C2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000078CA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000078D2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000078DB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000078E4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000078EC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000078F4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000078FD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007906  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000790E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007916  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000791F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007928  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007930  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007938  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007941  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000794A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007952  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000795A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007963  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000796C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007974  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000797C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007985  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000798E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007996  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000799E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000079A7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000079B0  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
000079BA  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000079C2  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
000079CD  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000079D6  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
000079E0  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000079E8  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
000079F3  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000079FC  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00007A06  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007A0E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00007A19  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007A22  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00007A2C  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007A34  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00007A3F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007A48  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
00007A52  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007A5A  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
00007A65  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00007A6E  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
00007A78  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007A80  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
00007A8B  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00007A94  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
00007A9E  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00007AA6  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007AB1  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00007ABA  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
00007AC4  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00007ACC  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007AD7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007AE0  648A0425E0A90000  mov al,[fs:0xa9e0]
00007AE8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007AF0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007AF9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007B02  648B0425E0A90000  mov eax,[fs:0xa9e0]
00007B0A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007B12  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00007B1B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007B24  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00007B2C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007B34  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00007B3D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007B46  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00007B4E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007B56  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00007B5F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007B68  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007B70  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007B78  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007B81  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00007B8A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007B92  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007B9A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007BA3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00007BAC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007BB4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00007BBC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007BC5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00007BCE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007BD6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00007BDE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007BE7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007BF0  648A0425E0A90000  mov al,[fs:0xa9e0]
00007BF8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007C00  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007C09  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007C12  648B0425E0A90000  mov eax,[fs:0xa9e0]
00007C1A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007C22  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00007C2B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007C34  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00007C3C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007C44  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00007C4D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007C56  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00007C5E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007C66  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00007C6F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007C78  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007C80  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007C88  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007C91  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00007C9A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007CA2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007CAA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007CB3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00007CBC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007CC4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00007CCC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007CD5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00007CDE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007CE6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00007CEE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007CF7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007D00  64A0E0A900000000  mov al,[fs:qword 0xa9e0]
         -0000
00007D0A  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007D12  6466A1E0A9000000  mov ax,[fs:qword 0xa9e0]
         -000000
00007D1D  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007D26  64A1E0A900000000  mov eax,[fs:qword 0xa9e0]
         -0000
00007D30  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007D38  6448A1E0A9000000  mov rax,[fs:qword 0xa9e0]
         -000000
00007D43  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007D4C  64A0AAAAAAAAAAAA  mov al,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00007D56  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007D5E  6466A1AAAAAAAAAA  mov ax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00007D69  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007D72  64A1AAAAAAAAAAAA  mov eax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00007D7C  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007D84  6448A1AAAAAAAAAA  mov rax,[fs:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00007D8F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007D98  64A0BBBBBBBB0000  mov al,[fs:qword 0xbbbbbbbb]
         -0000
00007DA2  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007DAA  6466A1BBBBBBBB00  mov ax,[fs:qword 0xbbbbbbbb]
         -000000
00007DB5  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00007DBE  64A1BBBBBBBB0000  mov eax,[fs:qword 0xbbbbbbbb]
         -0000
00007DC8  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007DD0  6448A1BBBBBBBB00  mov rax,[fs:qword 0xbbbbbbbb]
         -000000
00007DDB  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00007DE4  64A0CCCCCCCCFFFF  mov al,[fs:qword 0xffffffffcccccccc]
         -FFFF
00007DEE  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00007DF6  6466A1CCCCCCCCFF  mov ax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007E01  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00007E0A  64A1CCCCCCCCFFFF  mov eax,[fs:qword 0xffffffffcccccccc]
         -FFFF
00007E14  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00007E1C  6448A1CCCCCCCCFF  mov rax,[fs:qword 0xffffffffcccccccc]
         -FFFFFF
00007E27  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007E30  648A0425E0A90000  mov al,[fs:0xa9e0]
00007E38  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007E40  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007E49  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007E52  648B0425E0A90000  mov eax,[fs:0xa9e0]
00007E5A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007E62  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00007E6B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007E74  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00007E7C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007E84  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00007E8D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007E96  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00007E9E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007EA6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00007EAF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007EB8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007EC0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007EC8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007ED1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00007EDA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007EE2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007EEA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00007EF3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00007EFC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00007F04  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00007F0C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00007F15  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00007F1E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00007F26  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00007F2E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00007F37  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00007F40  648A0425E0A90000  mov al,[fs:0xa9e0]
00007F48  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00007F50  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00007F59  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00007F62  648B0425E0A90000  mov eax,[fs:0xa9e0]
00007F6A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00007F72  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00007F7B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00007F84  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00007F8C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00007F94  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00007F9D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00007FA6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00007FAE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00007FB6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00007FBF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00007FC8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00007FD0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00007FD8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00007FE1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00007FEA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00007FF2  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00007FFA  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008003  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000800C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008014  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000801C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008025  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000802E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008036  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000803E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008047  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00008050  648A0425E0A90000  mov al,[fs:0xa9e0]
00008058  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00008060  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00008069  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00008072  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000807A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00008082  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000808B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00008094  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000809C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000080A4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000080AD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000080B6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000080BE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000080C6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000080CF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000080D8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
000080E0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000080E8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
000080F1  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
000080FA  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008102  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000810A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008113  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000811C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008124  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000812C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008135  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000813E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008146  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000814E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008157  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00008160  648A0425E0A90000  mov al,[fs:0xa9e0]
00008168  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00008170  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00008179  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00008182  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000818A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00008192  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000819B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000081A4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000081AC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000081B4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000081BD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000081C6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000081CE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000081D6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000081DF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000081E8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
000081F0  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
000081F8  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008201  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000820A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008212  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000821A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008223  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000822C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008234  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000823C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008245  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000824E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008256  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000825E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008267  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00008270  648A0425E0A90000  mov al,[fs:0xa9e0]
00008278  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00008280  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00008289  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00008292  648B0425E0A90000  mov eax,[fs:0xa9e0]
0000829A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000082A2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000082AB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000082B4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000082BC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000082C4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000082CD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000082D6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000082DE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000082E6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000082EF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
000082F8  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008300  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008308  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008311  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000831A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008322  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000832A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008333  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000833C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008344  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000834C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008355  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000835E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008366  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000836E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008377  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00008380  648A0425E0A90000  mov al,[fs:0xa9e0]
00008388  648A1C25E0A90000  mov bl,[fs:0xa9e0]
00008390  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
00008399  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000083A2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000083AA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000083B2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000083BB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000083C4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000083CC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000083D4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000083DD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000083E6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000083EE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
000083F6  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
000083FF  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008408  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008410  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008418  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008421  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000842A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008432  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000843A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008443  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000844C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008454  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000845C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008465  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000846E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008476  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000847E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008487  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00008490  648A0425E0A90000  mov al,[fs:0xa9e0]
00008498  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000084A0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000084A9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000084B2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000084BA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000084C2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000084CB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000084D4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000084DC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000084E4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000084ED  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
000084F6  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
000084FE  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00008506  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000850F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008518  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008520  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008528  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008531  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000853A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008542  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000854A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008553  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000855C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008564  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000856C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008575  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000857E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008586  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000858E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008597  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000085A0  648A0425E0A90000  mov al,[fs:0xa9e0]
000085A8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000085B0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000085B9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000085C2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000085CA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000085D2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000085DB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000085E4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000085EC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
000085F4  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
000085FD  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00008606  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000860E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00008616  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000861F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008628  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008630  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008638  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008641  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000864A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008652  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000865A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008663  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000866C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008674  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000867C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008685  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000868E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008696  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
0000869E  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000086A7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000086B0  648A0425E0A90000  mov al,[fs:0xa9e0]
000086B8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000086C0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000086C9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000086D2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000086DA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000086E2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000086EB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
000086F4  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
000086FC  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00008704  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000870D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00008716  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000871E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00008726  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000872F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008738  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008740  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008748  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008751  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000875A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008762  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000876A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008773  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000877C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008784  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000878C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008795  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
0000879E  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000087A6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000087AE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000087B7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000087C0  648A0425E0A90000  mov al,[fs:0xa9e0]
000087C8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000087D0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000087D9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000087E2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000087EA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
000087F2  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
000087FB  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00008804  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000880C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00008814  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000881D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00008826  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000882E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00008836  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000883F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008848  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008850  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008858  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008861  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000886A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008872  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000887A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008883  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000888C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008894  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
0000889C  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000088A5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000088AE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000088B6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000088BE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000088C7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000088D0  648A0425E0A90000  mov al,[fs:0xa9e0]
000088D8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000088E0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000088E9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
000088F2  648B0425E0A90000  mov eax,[fs:0xa9e0]
000088FA  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00008902  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
0000890B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00008914  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
0000891C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00008924  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
0000892D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00008936  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
0000893E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00008946  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
0000894F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008958  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008960  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008968  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008971  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
0000897A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008982  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
0000898A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008993  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
0000899C  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
000089A4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
000089AC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
000089B5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
000089BE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
000089C6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
000089CE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
000089D7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
000089E0  648A0425E0A90000  mov al,[fs:0xa9e0]
000089E8  648A1C25E0A90000  mov bl,[fs:0xa9e0]
000089F0  64668B0425E0A900  mov ax,[fs:0xa9e0]
         -00
000089F9  64668B1C25E0A900  mov bx,[fs:0xa9e0]
         -00
00008A02  648B0425E0A90000  mov eax,[fs:0xa9e0]
00008A0A  648B1C25E0A90000  mov ebx,[fs:0xa9e0]
00008A12  64488B0425E0A900  mov rax,[fs:0xa9e0]
         -00
00008A1B  64488B1C25E0A900  mov rbx,[fs:0xa9e0]
         -00
00008A24  648A0425AAAAAAAA  mov al,[fs:0xffffffffaaaaaaaa]
00008A2C  648A1C25AAAAAAAA  mov bl,[fs:0xffffffffaaaaaaaa]
00008A34  64668B0425AAAAAA  mov ax,[fs:0xffffffffaaaaaaaa]
         -AA
00008A3D  64668B1C25AAAAAA  mov bx,[fs:0xffffffffaaaaaaaa]
         -AA
00008A46  648B0425AAAAAAAA  mov eax,[fs:0xffffffffaaaaaaaa]
00008A4E  648B1C25AAAAAAAA  mov ebx,[fs:0xffffffffaaaaaaaa]
00008A56  64488B0425AAAAAA  mov rax,[fs:0xffffffffaaaaaaaa]
         -AA
00008A5F  64488B1C25AAAAAA  mov rbx,[fs:0xffffffffaaaaaaaa]
         -AA
00008A68  648A0425BBBBBBBB  mov al,[fs:0xffffffffbbbbbbbb]
00008A70  648A1C25BBBBBBBB  mov bl,[fs:0xffffffffbbbbbbbb]
00008A78  64668B0425BBBBBB  mov ax,[fs:0xffffffffbbbbbbbb]
         -BB
00008A81  64668B1C25BBBBBB  mov bx,[fs:0xffffffffbbbbbbbb]
         -BB
00008A8A  648B0425BBBBBBBB  mov eax,[fs:0xffffffffbbbbbbbb]
00008A92  648B1C25BBBBBBBB  mov ebx,[fs:0xffffffffbbbbbbbb]
00008A9A  64488B0425BBBBBB  mov rax,[fs:0xffffffffbbbbbbbb]
         -BB
00008AA3  64488B1C25BBBBBB  mov rbx,[fs:0xffffffffbbbbbbbb]
         -BB
00008AAC  648A0425CCCCCCCC  mov al,[fs:0xffffffffcccccccc]
00008AB4  648A1C25CCCCCCCC  mov bl,[fs:0xffffffffcccccccc]
00008ABC  64668B0425CCCCCC  mov ax,[fs:0xffffffffcccccccc]
         -CC
00008AC5  64668B1C25CCCCCC  mov bx,[fs:0xffffffffcccccccc]
         -CC
00008ACE  648B0425CCCCCCCC  mov eax,[fs:0xffffffffcccccccc]
00008AD6  648B1C25CCCCCCCC  mov ebx,[fs:0xffffffffcccccccc]
00008ADE  64488B0425CCCCCC  mov rax,[fs:0xffffffffcccccccc]
         -CC
00008AE7  64488B1C25CCCCCC  mov rbx,[fs:0xffffffffcccccccc]
         -CC
00008AF0  268A0425E0A90000  mov al,[es:0xa9e0]
00008AF8  268A1C25E0A90000  mov bl,[es:0xa9e0]
00008B00  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00008B09  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00008B12  268B0425E0A90000  mov eax,[es:0xa9e0]
00008B1A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00008B22  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00008B2B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00008B34  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00008B3C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00008B44  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00008B4D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00008B56  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00008B5E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00008B66  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00008B6F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00008B78  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00008B80  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00008B88  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00008B91  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00008B9A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00008BA2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00008BAA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00008BB3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00008BBC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00008BC4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00008BCC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00008BD5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00008BDE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00008BE6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00008BEE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00008BF7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00008C00  268A0425E0A90000  mov al,[es:0xa9e0]
00008C08  268A1C25E0A90000  mov bl,[es:0xa9e0]
00008C10  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00008C19  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00008C22  268B0425E0A90000  mov eax,[es:0xa9e0]
00008C2A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00008C32  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00008C3B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00008C44  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00008C4C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00008C54  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00008C5D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00008C66  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00008C6E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00008C76  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00008C7F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00008C88  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00008C90  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00008C98  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00008CA1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00008CAA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00008CB2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00008CBA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00008CC3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00008CCC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00008CD4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00008CDC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00008CE5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00008CEE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00008CF6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00008CFE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00008D07  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00008D10  268A0425E0A90000  mov al,[es:0xa9e0]
00008D18  268A1C25E0A90000  mov bl,[es:0xa9e0]
00008D20  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00008D29  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00008D32  268B0425E0A90000  mov eax,[es:0xa9e0]
00008D3A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00008D42  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00008D4B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00008D54  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00008D5C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00008D64  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00008D6D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00008D76  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00008D7E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00008D86  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00008D8F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00008D98  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00008DA0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00008DA8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00008DB1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00008DBA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00008DC2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00008DCA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00008DD3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00008DDC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00008DE4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00008DEC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00008DF5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00008DFE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00008E06  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00008E0E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00008E17  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00008E20  268A0425E0A90000  mov al,[es:0xa9e0]
00008E28  268A1C25E0A90000  mov bl,[es:0xa9e0]
00008E30  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00008E39  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00008E42  268B0425E0A90000  mov eax,[es:0xa9e0]
00008E4A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00008E52  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00008E5B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00008E64  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00008E6C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00008E74  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00008E7D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00008E86  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00008E8E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00008E96  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00008E9F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00008EA8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00008EB0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00008EB8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00008EC1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00008ECA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00008ED2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00008EDA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00008EE3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00008EEC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00008EF4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00008EFC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00008F05  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00008F0E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00008F16  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00008F1E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00008F27  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00008F30  268A0425E0A90000  mov al,[es:0xa9e0]
00008F38  268A1C25E0A90000  mov bl,[es:0xa9e0]
00008F40  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00008F49  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00008F52  268B0425E0A90000  mov eax,[es:0xa9e0]
00008F5A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00008F62  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00008F6B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00008F74  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00008F7C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00008F84  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00008F8D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00008F96  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00008F9E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00008FA6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00008FAF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00008FB8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00008FC0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00008FC8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00008FD1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00008FDA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00008FE2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00008FEA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00008FF3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00008FFC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009004  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000900C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009015  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000901E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009026  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000902E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009037  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009040  268A0425E0A90000  mov al,[es:0xa9e0]
00009048  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009050  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009059  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009062  268B0425E0A90000  mov eax,[es:0xa9e0]
0000906A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009072  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000907B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009084  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000908C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009094  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000909D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000090A6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000090AE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000090B6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000090BF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000090C8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000090D0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000090D8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000090E1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000090EA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
000090F2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
000090FA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009103  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000910C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009114  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000911C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009125  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000912E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009136  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000913E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009147  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009150  268A0425E0A90000  mov al,[es:0xa9e0]
00009158  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009160  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009169  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009172  268B0425E0A90000  mov eax,[es:0xa9e0]
0000917A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009182  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000918B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009194  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000919C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000091A4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000091AD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000091B6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000091BE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000091C6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000091CF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000091D8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000091E0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000091E8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
000091F1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
000091FA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009202  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000920A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009213  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000921C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009224  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000922C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009235  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000923E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009246  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000924E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009257  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009260  268A0425E0A90000  mov al,[es:0xa9e0]
00009268  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009270  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009279  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009282  268B0425E0A90000  mov eax,[es:0xa9e0]
0000928A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009292  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000929B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000092A4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000092AC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000092B4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000092BD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000092C6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000092CE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000092D6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000092DF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000092E8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
000092F0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
000092F8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009301  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000930A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009312  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000931A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009323  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000932C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009334  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000933C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009345  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000934E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009356  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000935E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009367  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009370  268A0425E0A90000  mov al,[es:0xa9e0]
00009378  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009380  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009389  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009392  268B0425E0A90000  mov eax,[es:0xa9e0]
0000939A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000093A2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
000093AB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000093B4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000093BC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000093C4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000093CD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000093D6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000093DE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000093E6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000093EF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
000093F8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009400  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009408  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009411  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000941A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009422  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000942A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009433  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000943C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009444  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000944C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009455  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000945E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009466  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000946E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009477  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009480  268A0425E0A90000  mov al,[es:0xa9e0]
00009488  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009490  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009499  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000094A2  268B0425E0A90000  mov eax,[es:0xa9e0]
000094AA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000094B2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
000094BB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000094C4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000094CC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000094D4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000094DD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000094E6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000094EE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
000094F6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
000094FF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009508  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009510  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009518  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009521  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000952A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009532  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000953A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009543  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000954C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009554  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000955C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009565  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000956E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009576  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000957E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009587  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009590  268A0425E0A90000  mov al,[es:0xa9e0]
00009598  268A1C25E0A90000  mov bl,[es:0xa9e0]
000095A0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
000095A9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000095B2  268B0425E0A90000  mov eax,[es:0xa9e0]
000095BA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000095C2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
000095CB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000095D4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
000095DC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000095E4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
000095ED  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
000095F6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
000095FE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009606  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000960F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009618  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009620  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009628  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009631  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000963A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009642  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000964A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009653  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000965C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009664  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000966C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009675  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000967E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009686  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000968E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009697  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000096A0  26A0E0A900000000  mov al,[es:qword 0xa9e0]
         -0000
000096AA  268A1C25E0A90000  mov bl,[es:0xa9e0]
000096B2  2666A1E0A9000000  mov ax,[es:qword 0xa9e0]
         -000000
000096BD  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000096C6  26A1E0A900000000  mov eax,[es:qword 0xa9e0]
         -0000
000096D0  268B1C25E0A90000  mov ebx,[es:0xa9e0]
000096D8  2648A1E0A9000000  mov rax,[es:qword 0xa9e0]
         -000000
000096E3  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
000096EC  26A0AAAAAAAAAAAA  mov al,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
000096F6  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
000096FE  2666A1AAAAAAAAAA  mov ax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00009709  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009712  26A1AAAAAAAAAAAA  mov eax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
0000971C  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009724  2648A1AAAAAAAAAA  mov rax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
0000972F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009738  26A0BBBBBBBB0000  mov al,[es:qword 0xbbbbbbbb]
         -0000
00009742  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000974A  2666A1BBBBBBBB00  mov ax,[es:qword 0xbbbbbbbb]
         -000000
00009755  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000975E  26A1BBBBBBBB0000  mov eax,[es:qword 0xbbbbbbbb]
         -0000
00009768  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00009770  2648A1BBBBBBBB00  mov rax,[es:qword 0xbbbbbbbb]
         -000000
0000977B  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00009784  26A0CCCCCCCCFFFF  mov al,[es:qword 0xffffffffcccccccc]
         -FFFF
0000978E  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00009796  2666A1CCCCCCCCFF  mov ax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
000097A1  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000097AA  26A1CCCCCCCCFFFF  mov eax,[es:qword 0xffffffffcccccccc]
         -FFFF
000097B4  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000097BC  2648A1CCCCCCCCFF  mov rax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
000097C7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000097D0  268A0425E0A90000  mov al,[es:0xa9e0]
000097D8  268A1C25E0A90000  mov bl,[es:0xa9e0]
000097E0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
000097E9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
000097F2  268B0425E0A90000  mov eax,[es:0xa9e0]
000097FA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009802  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000980B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009814  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000981C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009824  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000982D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009836  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000983E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009846  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000984F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009858  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009860  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009868  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009871  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000987A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009882  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000988A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009893  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000989C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000098A4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000098AC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000098B5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000098BE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000098C6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000098CE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
000098D7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000098E0  268A0425E0A90000  mov al,[es:0xa9e0]
000098E8  268A1C25E0A90000  mov bl,[es:0xa9e0]
000098F0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
000098F9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009902  268B0425E0A90000  mov eax,[es:0xa9e0]
0000990A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009912  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000991B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009924  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000992C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009934  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000993D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009946  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000994E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009956  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000995F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009968  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009970  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009978  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009981  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000998A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009992  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000999A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
000099A3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
000099AC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
000099B4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
000099BC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
000099C5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
000099CE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
000099D6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
000099DE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
000099E7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
000099F0  26A0E0A900000000  mov al,[es:qword 0xa9e0]
         -0000
000099FA  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009A02  2666A1E0A9000000  mov ax,[es:qword 0xa9e0]
         -000000
00009A0D  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009A16  26A1E0A900000000  mov eax,[es:qword 0xa9e0]
         -0000
00009A20  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009A28  2648A1E0A9000000  mov rax,[es:qword 0xa9e0]
         -000000
00009A33  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009A3C  26A0AAAAAAAAAAAA  mov al,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00009A46  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009A4E  2666A1AAAAAAAAAA  mov ax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00009A59  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009A62  26A1AAAAAAAAAAAA  mov eax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAA
00009A6C  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009A74  2648A1AAAAAAAAAA  mov rax,[es:qword 0xaaaaaaaaaaaaaaaa]
         -AAAAAA
00009A7F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009A88  26A0BBBBBBBB0000  mov al,[es:qword 0xbbbbbbbb]
         -0000
00009A92  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009A9A  2666A1BBBBBBBB00  mov ax,[es:qword 0xbbbbbbbb]
         -000000
00009AA5  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00009AAE  26A1BBBBBBBB0000  mov eax,[es:qword 0xbbbbbbbb]
         -0000
00009AB8  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00009AC0  2648A1BBBBBBBB00  mov rax,[es:qword 0xbbbbbbbb]
         -000000
00009ACB  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00009AD4  26A0CCCCCCCCFFFF  mov al,[es:qword 0xffffffffcccccccc]
         -FFFF
00009ADE  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00009AE6  2666A1CCCCCCCCFF  mov ax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00009AF1  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00009AFA  26A1CCCCCCCCFFFF  mov eax,[es:qword 0xffffffffcccccccc]
         -FFFF
00009B04  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00009B0C  2648A1CCCCCCCCFF  mov rax,[es:qword 0xffffffffcccccccc]
         -FFFFFF
00009B17  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009B20  268A0425E0A90000  mov al,[es:0xa9e0]
00009B28  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009B30  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009B39  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009B42  268B0425E0A90000  mov eax,[es:0xa9e0]
00009B4A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009B52  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00009B5B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009B64  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00009B6C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009B74  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00009B7D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009B86  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00009B8E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009B96  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00009B9F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009BA8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009BB0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009BB8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009BC1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00009BCA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009BD2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00009BDA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009BE3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00009BEC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009BF4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00009BFC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009C05  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00009C0E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009C16  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00009C1E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009C27  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009C30  268A0425E0A90000  mov al,[es:0xa9e0]
00009C38  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009C40  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009C49  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009C52  268B0425E0A90000  mov eax,[es:0xa9e0]
00009C5A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009C62  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00009C6B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009C74  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00009C7C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009C84  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00009C8D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009C96  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00009C9E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009CA6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00009CAF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009CB8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009CC0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009CC8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009CD1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00009CDA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009CE2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00009CEA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009CF3  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00009CFC  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009D04  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00009D0C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009D15  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00009D1E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009D26  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00009D2E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009D37  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009D40  268A0425E0A90000  mov al,[es:0xa9e0]
00009D48  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009D50  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009D59  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009D62  268B0425E0A90000  mov eax,[es:0xa9e0]
00009D6A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009D72  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00009D7B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009D84  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00009D8C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009D94  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00009D9D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009DA6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00009DAE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009DB6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00009DBF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009DC8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009DD0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009DD8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009DE1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00009DEA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009DF2  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00009DFA  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009E03  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00009E0C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009E14  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00009E1C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009E25  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00009E2E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009E36  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00009E3E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009E47  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009E50  268A0425E0A90000  mov al,[es:0xa9e0]
00009E58  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009E60  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009E69  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009E72  268B0425E0A90000  mov eax,[es:0xa9e0]
00009E7A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009E82  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00009E8B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009E94  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00009E9C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009EA4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00009EAD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009EB6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00009EBE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009EC6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00009ECF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009ED8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009EE0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009EE8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
00009EF1  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
00009EFA  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
00009F02  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
00009F0A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
00009F13  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
00009F1C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
00009F24  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
00009F2C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
00009F35  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
00009F3E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
00009F46  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
00009F4E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
00009F57  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
00009F60  268A0425E0A90000  mov al,[es:0xa9e0]
00009F68  268A1C25E0A90000  mov bl,[es:0xa9e0]
00009F70  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
00009F79  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
00009F82  268B0425E0A90000  mov eax,[es:0xa9e0]
00009F8A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
00009F92  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
00009F9B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
00009FA4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
00009FAC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
00009FB4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
00009FBD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
00009FC6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
00009FCE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
00009FD6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
00009FDF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
00009FE8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
00009FF0  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
00009FF8  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A001  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A00A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A012  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A01A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A023  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A02C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A034  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A03C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A045  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A04E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A056  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A05E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A067  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A070  268A0425E0A90000  mov al,[es:0xa9e0]
0000A078  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A080  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A089  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A092  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A09A  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A0A2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A0AB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A0B4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A0BC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A0C4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A0CD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A0D6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A0DE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A0E6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A0EF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A0F8  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A100  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A108  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A111  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A11A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A122  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A12A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A133  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A13C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A144  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A14C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A155  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A15E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A166  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A16E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A177  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A180  268A0425E0A90000  mov al,[es:0xa9e0]
0000A188  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A190  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A199  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A1A2  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A1AA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A1B2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A1BB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A1C4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A1CC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A1D4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A1DD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A1E6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A1EE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A1F6  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A1FF  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A208  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A210  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A218  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A221  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A22A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A232  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A23A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A243  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A24C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A254  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A25C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A265  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A26E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A276  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A27E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A287  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A290  268A0425E0A90000  mov al,[es:0xa9e0]
0000A298  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A2A0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A2A9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A2B2  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A2BA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A2C2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A2CB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A2D4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A2DC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A2E4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A2ED  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A2F6  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A2FE  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A306  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A30F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A318  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A320  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A328  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A331  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A33A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A342  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A34A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A353  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A35C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A364  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A36C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A375  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A37E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A386  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A38E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A397  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A3A0  268A0425E0A90000  mov al,[es:0xa9e0]
0000A3A8  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A3B0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A3B9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A3C2  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A3CA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A3D2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A3DB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A3E4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A3EC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A3F4  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A3FD  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A406  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A40E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A416  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A41F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A428  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A430  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A438  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A441  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A44A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A452  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A45A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A463  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A46C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A474  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A47C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A485  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A48E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A496  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A49E  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A4A7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A4B0  268A0425E0A90000  mov al,[es:0xa9e0]
0000A4B8  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A4C0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A4C9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A4D2  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A4DA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A4E2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A4EB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A4F4  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A4FC  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A504  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A50D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A516  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A51E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A526  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A52F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A538  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A540  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A548  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A551  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A55A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A562  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A56A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A573  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A57C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A584  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A58C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A595  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A59E  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A5A6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A5AE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A5B7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A5C0  268A0425E0A90000  mov al,[es:0xa9e0]
0000A5C8  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A5D0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A5D9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A5E2  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A5EA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A5F2  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A5FB  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A604  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A60C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A614  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A61D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A626  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A62E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A636  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A63F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A648  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A650  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A658  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A661  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A66A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A672  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A67A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A683  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A68C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A694  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A69C  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A6A5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A6AE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A6B6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A6BE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A6C7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
0000A6D0  268A0425E0A90000  mov al,[es:0xa9e0]
0000A6D8  268A1C25E0A90000  mov bl,[es:0xa9e0]
0000A6E0  26668B0425E0A900  mov ax,[es:0xa9e0]
         -00
0000A6E9  26668B1C25E0A900  mov bx,[es:0xa9e0]
         -00
0000A6F2  268B0425E0A90000  mov eax,[es:0xa9e0]
0000A6FA  268B1C25E0A90000  mov ebx,[es:0xa9e0]
0000A702  26488B0425E0A900  mov rax,[es:0xa9e0]
         -00
0000A70B  26488B1C25E0A900  mov rbx,[es:0xa9e0]
         -00
0000A714  268A0425AAAAAAAA  mov al,[es:0xffffffffaaaaaaaa]
0000A71C  268A1C25AAAAAAAA  mov bl,[es:0xffffffffaaaaaaaa]
0000A724  26668B0425AAAAAA  mov ax,[es:0xffffffffaaaaaaaa]
         -AA
0000A72D  26668B1C25AAAAAA  mov bx,[es:0xffffffffaaaaaaaa]
         -AA
0000A736  268B0425AAAAAAAA  mov eax,[es:0xffffffffaaaaaaaa]
0000A73E  268B1C25AAAAAAAA  mov ebx,[es:0xffffffffaaaaaaaa]
0000A746  26488B0425AAAAAA  mov rax,[es:0xffffffffaaaaaaaa]
         -AA
0000A74F  26488B1C25AAAAAA  mov rbx,[es:0xffffffffaaaaaaaa]
         -AA
0000A758  268A0425BBBBBBBB  mov al,[es:0xffffffffbbbbbbbb]
0000A760  268A1C25BBBBBBBB  mov bl,[es:0xffffffffbbbbbbbb]
0000A768  26668B0425BBBBBB  mov ax,[es:0xffffffffbbbbbbbb]
         -BB
0000A771  26668B1C25BBBBBB  mov bx,[es:0xffffffffbbbbbbbb]
         -BB
0000A77A  268B0425BBBBBBBB  mov eax,[es:0xffffffffbbbbbbbb]
0000A782  268B1C25BBBBBBBB  mov ebx,[es:0xffffffffbbbbbbbb]
0000A78A  26488B0425BBBBBB  mov rax,[es:0xffffffffbbbbbbbb]
         -BB
0000A793  26488B1C25BBBBBB  mov rbx,[es:0xffffffffbbbbbbbb]
         -BB
0000A79C  268A0425CCCCCCCC  mov al,[es:0xffffffffcccccccc]
0000A7A4  268A1C25CCCCCCCC  mov bl,[es:0xffffffffcccccccc]
0000A7AC  26668B0425CCCCCC  mov ax,[es:0xffffffffcccccccc]
         -CC
0000A7B5  26668B1C25CCCCCC  mov bx,[es:0xffffffffcccccccc]
         -CC
0000A7BE  268B0425CCCCCCCC  mov eax,[es:0xffffffffcccccccc]
0000A7C6  268B1C25CCCCCCCC  mov ebx,[es:0xffffffffcccccccc]
0000A7CE  26488B0425CCCCCC  mov rax,[es:0xffffffffcccccccc]
         -CC
0000A7D7  26488B1C25CCCCCC  mov rbx,[es:0xffffffffcccccccc]
         -CC
